Repository suryadizhang/mh-project-: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-unknown, eslint --cache --cache-location .eslintcache --fix --max-warnings=0, ruff check --fix --exit-zero, black --quiet

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": [
    "prettier --write --ignore-unknown",
    "eslint --cache --cache-location .eslintcache --fix --max-warnings=0"
  ],
  "*.{json,md,yml,yaml}": ["prettier --write --ignore-unknown"],
  "*.py": ["ruff check --fix --exit-zero", "black --quiet"],
  "*.{css,scss}": ["prettier --write --ignore-unknown"]
}

fix(admin): CSP for WSS and payment email monitoring API URLs
  apps/admin/next.config.js
  apps/admin/src/app/payments/email-monitoring/page.tsx
Due: prettier --write --ignore-unknown, eslint --cache --cache-location .eslintcache --fix --max-warnings=0

fix(admin): environment-aware WebSocket URLs for production
  apps/admin/src/components/AdminChatWidget.tsx
  apps/admin/src/components/ChatBot.tsx
  apps/admin/src/components/newsletter/ComplianceWidget.tsx
  apps/admin/src/hooks/useEscalationWebSocket.ts
Due: prettier --write --ignore-unknown, eslint --cache --cache-location .eslintcache --fix --max-warnings=0

fix(websocket): register AI WebSocket router in main.py and fix frontend paths
  apps/admin/src/components/AdminChatWidget.tsx
  apps/admin/src/components/ChatBot.tsx
  apps/admin/src/hooks/useEscalationWebSocket.ts
  apps/backend/src/api/ai/endpoints/routers/websocket.py
  apps/backend/src/main.py
Due: prettier --write --ignore-unknown, eslint --cache --cache-location .eslintcache --fix --max-warnings=0, ruff check --fix --exit-zero, black --quiet

fix(email): fix admin email API paths and WebSocket auth null check
  apps/admin/src/services/emailApi.ts
  apps/backend/src/api/v1/websockets/escalations.py
  apps/backend/src/main.py
Due: prettier --write --ignore-unknown, eslint --cache --cache-location .eslintcache --fix --max-warnings=0, ruff check --fix --exit-zero, black --quiet

fix(backend): Fix email models and file encoding issues
  apps/backend/src/db/models/email.py
  apps/backend/src/db/models/email_label.py
  apps/backend/src/routers/v1/admin_emails.py
  apps/backend/src/services/payment_email_monitor.py
  database/migrations/20250627_add_is_deleted_to_email_tables.sql
Due: ruff check --fix --exit-zero, black --quiet

feat(db): Create email storage tables (email_messages, email_threads, email_sync_status, email_labels)
  database/migrations/013_review_media_table.sql
  database/migrations/014_processed_payment_emails.sql
  database/migrations/20250627_create_email_tables.sql
Due: none

fix(admin-emails): align get_email_stats return keys with router expectations
  apps/backend/src/repositories/email_repository.py
Due: ruff check --fix --exit-zero, black --quiet

feat(batch-1): add password reset, review media upload, rate limit updates
  .github/workflows/deployment-testing.yml
  .github/workflows/sync-gsm-to-vercel.yml
  apps/admin/src/app/forgot-password/page.tsx
  apps/admin/src/app/login/page.tsx
  apps/admin/src/app/reset-password/[token]/page.tsx
  apps/admin/src/components/AdminChatWidget.tsx
  apps/admin/src/components/ChatBot.tsx
  apps/admin/src/components/newsletter/ComplianceWidget.tsx
  apps/backend/src/db/models/feedback_marketing.py
  apps/backend/src/middleware/rate_limit.py
  apps/backend/src/routers/v1/reviews.py
  apps/customer/src/components/reviews/CustomerReviewForm.tsx
Due: prettier --write --ignore-unknown, eslint --cache --cache-location .eslintcache --fix --max-warnings=0, ruff check --fix --exit-zero, black --quiet

feat(batch-1): Add contact form endpoint and fix API paths
  apps/admin/src/services/chef-portal.service.ts
  apps/admin/src/services/email-api.ts
  apps/backend/src/db/models/crm.py
  apps/backend/src/main.py
  apps/backend/src/routers/v1/contact.py
  apps/customer/src/lib/server/stripeCustomerService.ts
Due: prettier --write --ignore-unknown, eslint --cache --cache-location .eslintcache --fix --max-warnings=0, ruff check --fix --exit-zero, black --quiet

fix(backend): add missing PHONE, WHATSAPP, IN_APP to ContactChannel enum
  apps/backend/src/db/models/crm.py
Due: ruff check --fix --exit-zero, black --quiet
