Repository suryadizhang/mh-project-: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-unknown, eslint --cache --cache-location .eslintcache --fix --max-warnings=0, ruff check --fix --exit-zero, black --quiet

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": [
    "prettier --write --ignore-unknown",
    "eslint --cache --cache-location .eslintcache --fix --max-warnings=0"
  ],
  "*.{json,md,yml,yaml}": ["prettier --write --ignore-unknown"],
  "*.py": ["ruff check --fix --exit-zero", "black --quiet"],
  "*.{css,scss}": ["prettier --write --ignore-unknown"]
}

fix(backend): resolve 286 timezone bugs across 68 files
  apps/backend/src/api/ai/orchestrator/ai_orchestrator.py
  apps/backend/src/api/ai/routers/intent_router.py
  apps/backend/src/api/ai/tests/comprehensive_audit.py
  apps/backend/src/api/ai/tests/test_integration.py
  apps/backend/src/api/v1/endpoints/inbox.py
  apps/backend/src/api/v1/endpoints/leads.py
  apps/backend/src/core/compliance.py
  apps/backend/src/core/openai_monitor.py
  apps/backend/src/db/migrations/alembic/env.py
  apps/backend/src/middleware/rate_limit.py
  apps/backend/src/models/newsletter.py
  apps/backend/src/models/social.py
  apps/backend/src/routers/v1/admin_analytics.py
  apps/backend/src/services/enhanced_nlp_service.py
  apps/backend/src/services/newsletter/sms_service.py
  apps/backend/src/services/review_service.py
  apps/backend/src/services/ringcentral_sms.py
  apps/backend/src/tests/test_knowledge_integration.py
  scripts/fix_timezone_bugs.py
  scripts/validate_phases_vs_reality.py
Due: ruff check --fix --exit-zero, black --quiet

feat(backend): Phase 1B - Multi-schema foundation complete
  apps/backend/src/db/migrations/alembic/versions/cfeccbfaa133_create_multi_schemas.py
  apps/backend/src/db/models/ai.py
  apps/backend/src/db/models/crm.py
  apps/backend/src/db/models/ops.py
Due: ruff check --fix --exit-zero, black --quiet

security: remove secrets from git, add template version
  .gitignore
  scripts/create-gsm-secrets.template.ps1
Due: none

chore: cleanup temporary documentation and test files, add new model files
  .github/workflows/deployment-testing.yml
  .github/workflows/sync-gsm-to-vercel.yml
  DEPLOYMENT_GUIDE.md
  GSM_ENHANCED_VARIABLES_SETUP_GUIDE.md
  GSM_TESTING_GUIDE.md
  QUICK_START_EXISTING_ENV.md
  apps/backend/src/api/ai/endpoints/models.py
  apps/backend/src/core/auth/oauth_models.py
  apps/backend/src/core/auth/station_models.py
  apps/backend/src/db/migrations/alembic/versions/011_add_social_account_identity_tables.py
  apps/backend/src/db/migrations/alembic/versions/cd22216ae9d3_merge_roles_and_users_branches.py
  apps/backend/src/db/migrations/alembic/versions/cd22216ae9d3_merge_roles_migrations.py
  apps/backend/src/db/models/identity.py
  apps/backend/src/models/__init__.py
  apps/backend/src/models/customer.py
  apps/backend/src/models/enums/__init__.py
  apps/backend/src/models/enums/campaign_enums.py
  apps/backend/src/models/enums/lead_enums.py
  apps/backend/src/models/enums/social_enums.py
  apps/backend/src/models/events.py
  apps/backend/src/models/knowledge_base.py
  apps/backend/src/models/lead.py
  apps/backend/src/models/newsletter.py
  apps/backend/src/models/notification.py
  apps/backend/src/models/social.py
Due: prettier --write --ignore-unknown, ruff check --fix --exit-zero, black --quiet

docs: update batch status - Batch 0 complete
  CURRENT_BATCH_STATUS.md
Due: prettier --write --ignore-unknown

docs: update batch status to Batch 1 in progress
  CURRENT_BATCH_STATUS.md
Due: prettier --write --ignore-unknown

feat(customer): add anti-scraper protection for contact info
  apps/customer/src/app/BookUs/page.tsx
  apps/customer/src/app/allergens/page.tsx
  apps/customer/src/app/booking-success/page.tsx
  apps/customer/src/app/contact/ContactPageClient.tsx
  apps/customer/src/app/not-found.tsx
  apps/customer/src/app/payment/zelle/page.tsx
  apps/customer/src/app/privacy/page.tsx
  apps/customer/src/app/terms/page.tsx
  apps/customer/src/components/chat/ChatWidget.tsx
  apps/customer/src/components/faq/FaqList.tsx
  apps/customer/src/components/layout/Footer.tsx
  apps/customer/src/components/payment/AlternativePaymentOptions.tsx
  apps/customer/src/components/quote/QuoteCalculator.tsx
  apps/customer/src/components/ui/ProtectedPhone.tsx
Due: prettier --write --ignore-unknown, eslint --cache --cache-location .eslintcache --fix --max-warnings=0

fix: ESLint config + dynamic pricing audit fixes
  apps/backend/src/api/ai/agents/lead_nurturing_agent.py
  apps/customer/src/app/payment/success/page.tsx
  apps/customer/src/components/chat/Assistant.tsx
  apps/customer/src/components/ui/ProtectedPhone.tsx
  apps/customer/src/data/faq.json
  apps/customer/src/data/policies.json
  eslint.config.mjs
Due: prettier --write --ignore-unknown, eslint --cache --cache-location .eslintcache --fix --max-warnings=0, ruff check --fix --exit-zero, black --quiet

perf: add N+1 query fixes and Redis caching
  apps/backend/src/services/business_config_service.py
  apps/backend/src/services/knowledge/knowledge_service.py
  apps/backend/src/services/lead_service.py
Due: ruff check --fix --exit-zero, black --quiet

feat(ui): add toast notification system (sonner)
  apps/customer/package.json
  apps/customer/src/app/layout.tsx
  apps/customer/src/components/ui/QuickNavigation.tsx
  apps/customer/src/components/ui/index.ts
  apps/customer/src/components/ui/toaster.tsx
  package-lock.json
Due: prettier --write --ignore-unknown, eslint --cache --cache-location .eslintcache --fix --max-warnings=0
