Repository suryadizhang/mh-project-: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, ruff check --fix --exit-zero, black

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["prettier --write", "eslint --fix"],
  "*.{json,md,yml,yaml}": ["prettier --write"],
  "*.py": ["ruff check --fix --exit-zero", "black"],
  "*.{css,scss}": ["prettier --write"]
}

Phase 1H: Copied 14 auth & utils files (7 auth to core/auth/ + 7 utils to utils/ & utils/ringcentral/) - FINAL COPY PHASE COMPLETE Old files preserved
  apps/backend/src/core/auth/endpoints.py
  apps/backend/src/core/auth/middleware.py
  apps/backend/src/core/auth/models.py
  apps/backend/src/core/auth/oauth_models.py
  apps/backend/src/core/auth/station_auth.py
  apps/backend/src/core/auth/station_middleware.py
  apps/backend/src/core/auth/station_models.py
  apps/backend/src/utils/auth.py
  apps/backend/src/utils/encryption.py
  apps/backend/src/utils/ringcentral/ringcentral_seed_data.py
  apps/backend/src/utils/ringcentral/ringcentral_utils.py
  apps/backend/src/utils/station_code_generator.py
  apps/backend/src/utils/stripe_setup.py
  apps/backend/src/utils/timezone_utils.py
Due: ruff check --fix --exit-zero, black

docs: Phase 1 complete verification report - 74 files migrated, 0 errors, 100% verified
  PHASE_1_VERIFICATION_REPORT.md
Due: prettier --write

Phase 2A: Update main.py imports to NEW clean architecture - routers from routers/v1/*, workers from workers/* - OLD imports kept as commented backup for rollback
  apps/backend/src/main.py
Due: ruff check --fix --exit-zero, black

Phase 2A.1: Fix router internal imports - booking_enhanced (query_optimizer placeholders), error_logs (temp require_role), health_checks (optional twilio) - All 248 routes now load from NEW locations
  apps/backend/src/routers/v1/admin/error_logs.py
  apps/backend/src/routers/v1/booking_enhanced.py
  apps/backend/src/routers/v1/health_checks.py
Due: ruff check --fix --exit-zero, black

Phase 2B: Update test imports to NEW architecture
  apps/backend/tests/services/test_lead_generation.py
  apps/backend/tests/services/test_lead_service_direct.py
  apps/backend/tests/services/test_lead_service_simple.py
  apps/backend/tests/services/test_privacy_implementation.py
  apps/backend/tests/services/test_production_safety.py
  apps/backend/tests/test_newsletter_unit.py
  apps/backend/tests/unit/test_booking_service.py
Due: ruff check --fix --exit-zero, black

Phase 2C: Priority 1 - Update model imports (10 files)
  apps/backend/src/models/legacy_base.py
  apps/backend/src/models/legacy_booking_models.py
  apps/backend/src/models/legacy_core.py
  apps/backend/src/models/legacy_encryption.py
  apps/backend/src/models/legacy_events.py
  apps/backend/src/models/legacy_feedback.py
  apps/backend/src/models/legacy_notification_groups.py
  apps/backend/src/models/legacy_qr_tracking.py
  apps/backend/src/models/legacy_social.py
  apps/backend/src/models/legacy_stripe_models.py
Due: ruff check --fix --exit-zero, black

Phase 2C: Priority 2 - Update CQRS layer imports (5 files)
  apps/backend/src/cqrs/base.py
  apps/backend/src/cqrs/command_handlers.py
  apps/backend/src/cqrs/crm_operations.py
  apps/backend/src/cqrs/query_handlers.py
  apps/backend/src/cqrs/registry.py
Due: ruff check --fix --exit-zero, black

Phase 2C: Priority 3 - Update service layer imports (12 files)
  apps/backend/src/services/ai_lead_management.py
  apps/backend/src/services/enhanced_notification_service.py
  apps/backend/src/services/lead_service.py
  apps/backend/src/services/newsletter_service.py
  apps/backend/src/services/notification_group_service.py
  apps/backend/src/services/qr_tracking_service.py
  apps/backend/src/services/review_service.py
  apps/backend/src/services/social/social_ai_generator.py
  apps/backend/src/services/social/social_ai_tools.py
  apps/backend/src/services/social/social_service.py
  apps/backend/src/services/station_notification_sync.py
  apps/backend/src/services/stripe_service.py
Due: ruff check --fix --exit-zero, black

Phase 2C: Fix model import paths (critical bug fix)
  apps/backend/src/models/legacy_base.py
  apps/backend/src/models/legacy_booking_models.py
  apps/backend/src/models/legacy_core.py
  apps/backend/src/models/legacy_events.py
  apps/backend/src/models/legacy_feedback.py
  apps/backend/src/models/legacy_lead_newsletter.py
  apps/backend/src/models/legacy_models_init.py
  apps/backend/src/models/legacy_qr_tracking.py
  apps/backend/src/models/legacy_stripe_models.py
Due: ruff check --fix --exit-zero, black

Phase 2C: Priority 4 - Update worker imports & remove unused social workers
  apps/backend/src/workers/outbox_processors.py
  apps/backend/src/workers/review_worker.py
  apps/backend/src/workers/social/social_outbox_processor.py
  apps/backend/src/workers/social/social_projector.py
Due: ruff check --fix --exit-zero, black

Phase 2C: Priority 5 - Update all router imports (22 files, 84 imports)
  apps/backend/src/routers/v1/admin/error_logs.py
  apps/backend/src/routers/v1/admin/notification_groups.py
  apps/backend/src/routers/v1/admin/social.py
  apps/backend/src/routers/v1/admin_analytics.py
  apps/backend/src/routers/v1/booking_enhanced.py
  apps/backend/src/routers/v1/bookings.py
  apps/backend/src/routers/v1/health.py
  apps/backend/src/routers/v1/health_checks.py
  apps/backend/src/routers/v1/leads.py
  apps/backend/src/routers/v1/newsletter.py
  apps/backend/src/routers/v1/payments.py
  apps/backend/src/routers/v1/qr_tracking.py
  apps/backend/src/routers/v1/reviews.py
  apps/backend/src/routers/v1/ringcentral_webhooks.py
  apps/backend/src/routers/v1/station_admin.py
  apps/backend/src/routers/v1/station_auth.py
  apps/backend/src/routers/v1/stripe.py
  apps/backend/src/routers/v1/webhooks/google_business_webhook.py
  apps/backend/src/routers/v1/webhooks/meta_webhook.py
  apps/backend/src/routers/v1/webhooks/ringcentral_webhook.py
  apps/backend/src/routers/v1/webhooks/stripe_webhook.py
  apps/backend/src/routers/v1/websocket_router.py
Due: ruff check --fix --exit-zero, black

Fix pre-existing bugs: Pydantic v2 validator syntax & bare except clauses + fix import comment syntax
  apps/backend/src/api/app/auth/endpoints.py
  apps/backend/src/core/auth/endpoints.py
  apps/backend/src/core/auth/middleware.py
  apps/backend/src/core/auth/models.py
  apps/backend/src/core/auth/oauth_models.py
  apps/backend/src/core/auth/station_auth.py
  apps/backend/src/core/auth/station_middleware.py
  apps/backend/src/core/auth/station_models.py
  apps/backend/src/cqrs/social/social_command_handlers.py
  apps/backend/src/cqrs/social/social_commands.py
  apps/backend/src/cqrs/social/social_queries.py
  apps/backend/src/cqrs/social/social_query_handlers.py
  apps/backend/src/middleware/structured_logging.py
  apps/backend/src/routes/payment_email_routes.py
  apps/backend/src/services/lead_service.py
  apps/backend/src/services/newsletter_service.py
  apps/backend/src/services/payment_email_scheduler.py
  apps/backend/src/utils/ringcentral/ringcentral_utils.py
  apps/backend/src/utils/station_code_generator.py
Due: ruff check --fix --exit-zero, black

Phase 2: Add missing schema files to NEW structure
  apps/backend/src/schemas/booking_schemas.py
  apps/backend/src/schemas/health.py
  apps/backend/src/schemas/social.py
  apps/backend/src/schemas/stripe_schemas.py
Due: ruff check --fix --exit-zero, black

Fix schemas/social.py: Update import to use NEW models.legacy_social
  apps/backend/src/schemas/social.py
Due: ruff check --fix --exit-zero, black

docs: Add comprehensive manual audit report verifying nuclear refactor completion
  NUCLEAR_REFACTOR_MANUAL_AUDIT_REPORT.md
Due: prettier --write

docs: Add comprehensive ARCHITECTURE.md for clean architecture
  apps/backend/ARCHITECTURE.md
Due: prettier --write

docs: Add comprehensive MIGRATION_SUMMARY.md documenting nuclear refactor
  apps/backend/MIGRATION_SUMMARY.md
Due: prettier --write

fix: Deprecation warnings - datetime.utcnow(), Pydantic v2, duplicate Operation IDs
  DEEP_PROJECT_ANALYSIS_NOV_2025.md
  FIXES_PROGRESS_NOV_5_2025.md
  apps/backend/src/api/ai/endpoints/services/knowledge_base_simple.py
  apps/backend/src/api/v1/endpoints/analytics.py
  apps/backend/src/api/v1/inbox/schemas.py
  apps/backend/src/cqrs/social/social_commands.py
  apps/backend/src/routers/v1/bookings.py
  apps/backend/src/services/booking_service.py
  apps/backend/src/services/email_service.py
  apps/backend/src/services/payment_email_scheduler.py
  apps/backend/src/services/payment_matcher_service.py
  apps/backend/src/services/qr_tracking_service.py
  apps/backend/src/services/social/social_ai_tools.py
  apps/backend/src/services/social/social_clients.py
  apps/backend/src/services/social/social_service.py
  apps/backend/tests/integration/test_frontend_api_endpoints.py
  apps/backend/tests/services/test_production_safety.py
Due: prettier --write, ruff check --fix --exit-zero, black

feat: Nuclear refactor complete - Backend API, Frontend components, CSS Modules, Documentation
  apps/backend/apply_newsletter_migration.py
  apps/backend/check_schema.py
  apps/backend/create_contact_table.py
  apps/backend/src/services/social/social_ai_generator.py
  apps/backend/src/utils/validators.py
  apps/backend/test_contact_form.py
  apps/backend/test_find_by_contact.py
  apps/backend/tests/test_newsletter_unit.py
  apps/backend/tests/unit/test_booking_service.py
  apps/backend/tests/unit/test_cache_service.py
  apps/backend/tests/unit/test_newsletter_service_comprehensive.py
  apps/customer/src/components/faq/FaqList.tsx
  apps/customer/src/components/quote/QuoteCalculator.tsx
  apps/customer/src/components/sections/TestimonialsSection.tsx
  apps/customer/src/components/ui/button.tsx
  apps/customer/src/lib/contactData.ts
  dump.rdb
  scripts/find-buttons.js
Due: prettier --write, eslint --fix, ruff check --fix --exit-zero, black

feat: Consolidate to Tailwind v4 + CSS Variables strategy
  TAILWIND_MIGRATION_GUIDE.md
  apps/admin/src/app/globals.css
  apps/customer/src/app/globals.css
  apps/customer/src/app/layout.tsx
Due: prettier --write, eslint --fix

fix: Remove Bootstrap dependencies from CSS Module components - CRITICAL
  TAILWIND_CHEAT_SHEET.md
  apps/customer/src/components/layout/Footer.tsx
  apps/customer/src/components/layout/Navbar.tsx
  apps/customer/src/components/quote/QuoteCalculator.module.css
  apps/customer/src/components/quote/QuoteCalculator.tsx
  apps/customer/src/components/ui/BackToTopButton.tsx
  apps/customer/src/components/ui/Breadcrumb.tsx
Due: prettier --write, eslint --fix

feat: Migrate all components to Tailwind + Lucide (pure implementation)
  BOOTSTRAP_ICON_MIGRATION_MAP.md
  VISUAL_TESTING_CHECKLIST.md
  apps/customer/src/components/LiveChatButton.tsx
  apps/customer/src/components/booking/BookUsHero.tsx
  apps/customer/src/components/booking/BookingModals.tsx
  apps/customer/src/components/booking/ContactInfoSection.tsx
  apps/customer/src/components/booking/CustomerAddressSection.tsx
  apps/customer/src/components/booking/EventDetailsSection.tsx
  apps/customer/src/components/booking/SubmitSection.tsx
  apps/customer/src/components/booking/VenueAddressSection.tsx
  apps/customer/src/components/ui/OptimizedImage.tsx
Due: prettier --write, eslint --fix

docs: Add comprehensive migration summary
  TAILWIND_MIGRATION_COMPLETE.md
Due: prettier --write

feat: implement escalation system with RBAC improvements
  apps/backend/src/alembic/versions/add_escalation_call_recording.py
  apps/backend/src/api/v1/escalations/__init__.py
  apps/backend/src/api/v1/escalations/endpoints.py
  apps/backend/src/api/v1/escalations/schemas.py
  apps/backend/src/models/call_recording.py
  apps/backend/src/models/escalation.py
  apps/backend/src/models/role.py
  apps/backend/src/services/escalation_service.py
Due: ruff check --fix --exit-zero, black

docs: add comprehensive escalation system implementation guide
  ESCALATION_IMPLEMENTATION_SUMMARY.md
Due: prettier --write

feat: Phase 2A complete - Escalation system backend infrastructure
  apps/backend/.env.example
  apps/backend/requirements.txt
  apps/backend/src/api/v1/webhooks/__init__.py
  apps/backend/src/api/v1/webhooks/ringcentral.py
  apps/backend/src/core/logging/__init__.py
  apps/backend/src/core/logging/pii_masking.py
  apps/backend/src/db/migrations/alembic/versions/010_escalation_call_recording.py
  apps/backend/src/main.py
  apps/backend/src/routers/v1/admin/__init__.py
  apps/backend/src/services/ringcentral_service.py
  apps/backend/src/workers/celery_config.py
  apps/backend/src/workers/escalation_tasks.py
  apps/backend/src/workers/recording_tasks.py
Due: ruff check --fix --exit-zero, black

fix(backend): Phase 2A compatibility fixes - async/sync conversion and metadata column renames
  apps/backend/requirements.txt
  apps/backend/src/api/v1/escalations/endpoints.py
  apps/backend/src/api/v1/webhooks/ringcentral.py
  apps/backend/src/db/migrations/alembic/versions/010_escalation_call_recording.py
  apps/backend/src/models/call_recording.py
  apps/backend/src/models/escalation.py
  apps/backend/src/services/escalation_service.py
  apps/backend/src/workers/escalation_tasks.py
  apps/backend/src/workers/recording_tasks.py
  apps/backend/verify_phase2a.py
Due: ruff check --fix --exit-zero, black

feat(escalation): Add Flower monitoring & customer escalation form (Phase 2B.1-2B.2)
  apps/backend/.env.example
  apps/backend/CELERY_MONITORING.md
  apps/backend/src/workers/celery_config.py
  apps/backend/start-celery-dev.ps1
  apps/customer/src/components/chat/ChatWidget.tsx
  apps/customer/src/components/chat/EscalationForm.tsx
Due: prettier --write, eslint --fix, ruff check --fix --exit-zero, black

feat(escalations): Add admin escalations inbox with filtering & real-time updates (Phase 2B.3)
  apps/admin/src/app/AdminLayoutComponent.tsx
  apps/admin/src/app/escalations/page.tsx
Due: prettier --write, eslint --fix

perf(escalations): Optimize smart auto-refresh for resource efficiency
  apps/admin/src/app/escalations/page.tsx
Due: prettier --write, eslint --fix

feat(escalations): Add admin escalation detail page with SMS composer
  apps/admin/src/app/escalations/[id]/page.tsx
  apps/backend/src/api/v1/escalations/endpoints.py
Due: prettier --write, eslint --fix, ruff check --fix --exit-zero, black

docs: Add Phase 2B completion summary
  PHASE_2B_ESCALATION_UI_COMPLETE.md
Due: prettier --write
