Repository suryadizhang/mh-project-: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-unknown, eslint --cache --cache-location .eslintcache --fix --max-warnings=0, ruff check --fix --exit-zero, black --quiet

docs: update Batch 1 status to CODE COMPLETE
  CURRENT_BATCH_STATUS.md
Due: prettier --write --ignore-unknown

security: fix PR compliance issues from qodo-code-review
  apps/backend/src/core/cache.py
  apps/backend/src/middleware/caching.py
  apps/backend/src/services/knowledge/knowledge_service.py
  apps/customer/src/hooks/useAutoSave.ts
Due: prettier --write --ignore-unknown, eslint --cache --cache-location .eslintcache --fix --max-warnings=0, ruff check --fix --exit-zero, black --quiet

chore(db): add combined Batch 1 migration script
  database/migrations/BATCH_1_COMBINED_MIGRATION.sql
Due: none

fix: address PR #5 code review suggestions
  apps/admin/src/app/logs/page.tsx
  apps/admin/src/app/superadmin/scaling/page.tsx
  apps/backend/src/middleware/caching.py
  apps/backend/src/services/knowledge/knowledge_service.py
  apps/customer/src/components/chat/Assistant.tsx
  apps/customer/src/hooks/useAutoSave.ts
Due: prettier --write --ignore-unknown, eslint --cache --cache-location .eslintcache --fix --max-warnings=0, ruff check --fix --exit-zero, black --quiet

fix: remove unused imports flagged by Copilot review
  apps/backend/src/middleware/caching.py
  apps/customer/src/app/BookUs/loading.tsx
  apps/customer/src/app/menu/loading.tsx
  apps/customer/src/app/payment/zelle/page.tsx
  apps/customer/src/components/payment/AlternativePaymentOptions.tsx
  eslint.config.mjs
Due: prettier --write --ignore-unknown, eslint --cache --cache-location .eslintcache --fix --max-warnings=0, ruff check --fix --exit-zero, black --quiet

test: fix PaymentForm and QuoteRequestForm tests to match component behavior
  apps/customer/src/components/forms/__tests__/QuoteRequestForm.test.tsx
  apps/customer/src/components/payment/PaymentForm.tsx
  apps/customer/src/components/payment/__tests__/PaymentForm.test.tsx
Due: prettier --write --ignore-unknown, eslint --cache --cache-location .eslintcache --fix --max-warnings=0

docs: add pre-existing test failure fix guidelines to testing instructions
  .github/instructions/07-TESTING_QA.instructions.md
Due: prettier --write --ignore-unknown

ci: add Run Tests workflow for PR checks
  .github/workflows/run-tests.yml
Due: prettier --write --ignore-unknown

ci: populate empty deployment-testing.yml with Run Tests workflow
  .github/instructions/01-CORE_PRINCIPLES.instructions.md
  .github/workflows/deployment-testing.yml
Due: prettier --write --ignore-unknown

fix: update requirements.txt with compatible versions and add local testing rules
  .github/instructions/07-TESTING_QA.instructions.md
  apps/backend/requirements.txt
Due: prettier --write --ignore-unknown

docs: add Clean Main Branch policy to keep production branch clean
  .github/instructions/01-CORE_PRINCIPLES.instructions.md
  .github/instructions/03-BRANCH_GIT_WORKFLOW.instructions.md
  .gitignore
Due: prettier --write --ignore-unknown

docs(batch-1): add incremental batch deployment guidelines
  .github/instructions/04-BATCH_DEPLOYMENT.instructions.md
Due: prettier --write --ignore-unknown

docs(batch-1): enforce strict one-PR-per-batch deployment (Option A)
  .github/instructions/03-BRANCH_GIT_WORKFLOW.instructions.md
  .github/instructions/04-BATCH_DEPLOYMENT.instructions.md
Due: prettier --write --ignore-unknown

fix(batch-1): fix husky prepare script for CI environments
  package.json
Due: prettier --write --ignore-unknown

Path conditions:
  prettier --write --ignore-unknown: ((any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,md,yml,yaml})) or (any of: *.{css,scss})
  eslint --cache --cache-location .eslintcache --fix --max-warnings=0: any of: *.{js,jsx,ts,tsx}
  ruff check --fix --exit-zero: any of: *.py
  black --quiet: any of: *.py
