Repository suryadizhang/mh-project-: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-unknown, eslint --cache --cache-location .eslintcache --fix --max-warnings=0, ruff check --fix --exit-zero, black --quiet

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": [
    "prettier --write --ignore-unknown",
    "eslint --cache --cache-location .eslintcache --fix --max-warnings=0"
  ],
  "*.{json,md,yml,yaml}": ["prettier --write --ignore-unknown"],
  "*.py": ["ruff check --fix --exit-zero", "black --quiet"],
  "*.{css,scss}": ["prettier --write --ignore-unknown"]
}

fix(backend): resolve SQLAlchemy mapper initialization error for auth models
  apps/backend/src/core/auth/models.py
  apps/backend/src/db/models/identity/users.py
Due: ruff check --fix --exit-zero, black --quiet

fix(oauth): use correct GoogleOAuthAccount column names
  apps/backend/src/api/v1/endpoints/google_oauth.py
Due: ruff check --fix --exit-zero, black --quiet

fix(oauth): eager load user_roles.role to prevent greenlet_spawn error
  apps/backend/src/api/v1/endpoints/google_oauth.py
Due: ruff check --fix --exit-zero, black --quiet

fix(oauth): change 307 to 302 redirect and add debug logging
  apps/backend/src/api/v1/endpoints/google_oauth.py
Due: ruff check --fix --exit-zero, black --quiet

fix(admin): OAuth token storage key mismatch - use admin_token consistently
  apps/admin/src/app/auth/callback/page.tsx
  apps/admin/src/contexts/AuthContext.tsx
Due: prettier --write --ignore-unknown, eslint --cache --cache-location .eslintcache --fix --max-warnings=0

fix(customer): change npm ci to npm install for Vercel builds
  apps/customer/vercel.json
Due: prettier --write --ignore-unknown

feat(batch-1): OAuth integration, staging API, migrations, docs
  .env.example
  .github/instructions/07-TESTING_QA.instructions.md
  .gitignore
  README.md
  VPS_DEPLOYMENT_GUIDE.md
  apps/admin/.gitignore
  apps/backend/src/db/models/identity/users.py
  apps/customer/.gitignore
  database/migrations/007_add_oauth_columns_to_users.sql
  database/migrations/008_add_geocoding_columns_to_stations.sql
  docs/02-IMPLEMENTATION/OAUTH_ARCHITECTURE.md
  docs/04-DEPLOYMENT/STAGING_ENVIRONMENT_SETUP_GUIDE.md
  package-lock.json
  package.json
  playwright.staging.config.ts
Due: prettier --write --ignore-unknown, eslint --cache --cache-location .eslintcache --fix --max-warnings=0, ruff check --fix --exit-zero, black --quiet

fix(auth): resolve OAuth callback infinite loading issue
  apps/admin/src/app/auth/callback/page.tsx
  apps/backend/src/routers/v1/auth.py
Due: prettier --write --ignore-unknown, eslint --cache --cache-location .eslintcache --fix --max-warnings=0, ruff check --fix --exit-zero, black --quiet

fix(auth): add auth_provider=GOOGLE when creating user via OAuth
  apps/backend/src/api/v1/endpoints/google_oauth.py
Due: ruff check --fix --exit-zero, black --quiet

fix(auth): add values_callable to SQLEnum for proper enum value resolution
  apps/backend/src/db/models/identity/users.py
Due: ruff check --fix --exit-zero, black --quiet

fix(auth): add LowercaseEnumType for bidirectional enum conversion
  apps/backend/src/db/models/identity/users.py
Due: ruff check --fix --exit-zero, black --quiet

fix(auth): use String instead of PG_ENUM in LowercaseEnumType
  apps/backend/src/db/models/identity/users.py
Due: ruff check --fix --exit-zero, black --quiet

fix(auth): handle UPPERCASE enum values from PostgreSQL in LowercaseEnumType
  apps/backend/src/db/models/identity/users.py
Due: ruff check --fix --exit-zero, black --quiet

fix(admin): allow /auth/* paths to render without authentication
  apps/admin/src/app/auth/pending-approval/page.tsx
  apps/admin/src/contexts/AuthContext.tsx
Due: prettier --write --ignore-unknown, eslint --cache --cache-location .eslintcache --fix --max-warnings=0
