Repository suryadizhang/mh-project-: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, ruff check --fix, black

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["prettier --write", "eslint --fix"],
  "*.{json,md,yml,yaml}": ["prettier --write"],
  "*.py": ["ruff check --fix", "black"],
  "*.{css,scss}": ["prettier --write"]
}

feat: Quick Win 3 - AI Cost Monitoring Dashboard
  apps/admin/package.json
  apps/backend/src/api/v1/api.py
  apps/backend/src/api/v1/endpoints/ai_costs.py
Due: prettier --write, ruff check --fix, black

docs: Add comprehensive Quick Wins completion summary
  QUICK_WINS_COMPLETE.md
Due: prettier --write

feat: Phase 1.5 Shadow Learning Infrastructure
  apps/backend/src/api/ai/shadow/__init__.py
  apps/backend/src/api/ai/shadow/local_model.py
  apps/backend/src/api/ai/shadow/models.py
  apps/backend/src/api/ai/shadow/similarity_evaluator.py
  apps/backend/src/api/ai/shadow/tutor_logger.py
  apps/backend/src/api/v1/api.py
  apps/backend/src/api/v1/endpoints/shadow_learning.py
  test_cost_monitoring_api.py
Due: ruff check --fix, black

docs: Add Phase 1.5 installation guide
  PHASE_1.5_INSTALLATION_GUIDE.md
Due: prettier --write

docs: Add Phase 1.5 comprehensive status report
  PHASE_1.5_STATUS.md
Due: prettier --write

feat: Add Shadow Learning config and database migration
  apps/backend/migrations/versions/add_shadow_learning_tables.py
  apps/backend/src/core/config.py
Due: ruff check --fix, black

feat: Major enhancements - Environment consolidation, Google autocomplete, AI dashboard
  .env.production.template
  ENVIRONMENT_CONSOLIDATION_COMPLETE.md
  ENVIRONMENT_FILES_GUIDE.md
  GOOGLE_MAPS_API_KEY_CONFIG_CHECKLIST.md
  GOOGLE_MAPS_API_QUICK_START.md
  QUOTE_ENHANCEMENTS_GUIDE.md
  README.md
  SHADOW_LEARNING_COMPLETE_AUDIT.md
  apps/admin/.eslintrc.json
  apps/admin/src/app/ai-learning/page.tsx
  apps/admin/src/components/ai-learning/ActivationButton.tsx
  apps/admin/src/components/ai-learning/ReadinessOverview.tsx
  apps/admin/src/hooks/useAIReadiness.ts
  apps/admin/src/services/aiReadinessService.ts
  apps/admin/src/types/aiReadiness.ts
  apps/backend/.env.example
  apps/backend/src/api/ai/shadow/models.py
  apps/customer/src/app/BookUs/page.tsx
  apps/customer/src/components/quote/QuoteCalculator.tsx
  apps/customer/src/styles/quote-calculator.css
  config/environments/.env.development.template
  config/environments/.env.production.template
  consolidate-env.ps1
Due: prettier --write, eslint --fix, ruff check --fix, black

security: Remove exposed API key and add travel fee API integration
  GOOGLE_MAPS_API_KEY_CONFIG_CHECKLIST.md
  apps/backend/src/api/v1/api.py
  apps/backend/src/api/v1/endpoints/public_quote.py
  apps/customer/src/components/quote/QuoteCalculator.tsx
  apps/customer/src/styles/quote-calculator.css
Due: prettier --write, eslint --fix, ruff check --fix, black

security: Remove hardcoded database credentials from Python files
  apps/backend/merge_heads.py
  apps/backend/src/db/migrations/alembic/env.py
  apps/backend/test_db_connection.py
  apps/backend/tests/integrations/verify_database.py
Due: ruff check --fix, black

docs: Add security cleanup summary and recommendations
  SECURITY_CLEANUP_SUMMARY.md
Due: prettier --write

security: Remove hardcoded database credentials from fallback values
  apps/backend/check_bookings_schema.py
  apps/backend/check_db.py
  apps/backend/check_identity_schema.py
  apps/backend/create_station_groups.py
  apps/backend/initialize_notification_groups.py
  apps/backend/merge_heads.py
  apps/backend/test_db_connection.py
  apps/backend/tests/integrations/verify_database.py
  apps/backend/tests/services/test_add_member.py
Due: ruff check --fix, black

docs: Update security summary with GitGuardian alert resolution
  SECURITY_CLEANUP_SUMMARY.md
Due: prettier --write

feat: Fix all critical production blockers for comprehensive testing
  apps/backend/convert_newsletter_async.py
  apps/backend/dump.rdb
  apps/backend/kill-backend-safely.ps1
  apps/backend/run_backend.py
  apps/backend/src/api/app/routers/newsletter.py
  apps/backend/src/api/v1/endpoints/auth.py
  apps/backend/src/main.py
  comprehensive-backend-test.ps1
  comprehensive-test-full.ps1
  test-all-backend.ps1
Due: ruff check --fix, black

Phase 1 Complete: Main.py consolidation + White-label foundation - CHECKPOINT BEFORE NUCLEAR REFACTOR
  AI_COMPETITIVE_ADVANTAGE_STRATEGY.md
  AI_QUICK_WINS_IMPLEMENTATION_GUIDE.md
  ARCHITECTURE_EXPLAINED.md
  DEEP_SYSTEM_ANALYSIS_AND_STRATEGY.md
  TOMORROW_MORNING_STATUS.md
  ULTIMATE_LONG_TERM_REFACTORING_PLAN.md
  WHITE_LABEL_PREPARATION_GUIDE.md
  apps/backend/migrations/create_businesses_table.sql
  apps/backend/requirements.txt
  apps/backend/run_backend.py
  apps/backend/src/api/ai/orchestrator/ai_orchestrator.py
  apps/backend/src/api/app/routers/admin/notification_groups.py
  apps/backend/src/core/config.py
  apps/backend/src/db/migrations/alembic/env.py
  apps/backend/src/db/migrations/alembic/versions/e636a2d56d82_add_businesses_table_for_white_label.py
  apps/backend/src/db/migrations/alembic/versions/e8e33e1e5658_add_business_table_for_white_label.py
  apps/backend/src/main.py
  apps/backend/src/models/business.py
  apps/backend/tests/conftest.py
  apps/backend/tests/services/test_api_quick.py
  apps/backend/tests/services/test_openapi.py
  apps/backend/tests/services/test_production_safety.py
Due: prettier --write, ruff check --fix, black

Strategic Decision: Zero-Risk Precision Execution Plan - 48 weeks to excellence
  ACTIVE_IMPORTS_BASELINE.txt
  MASTER_INTEGRATION_ANALYSIS.txt
  NUCLEAR_REFACTOR_MASTER_INTEGRATION_PLAN.md
  PRECISION_EXECUTION_ROADMAP.md
  PRODUCTION_FEATURES_AUDIT.txt
  STRATEGIC_INTEGRATION_PLAN.txt
Due: prettier --write

Add Future-Proofing Strategy: Room for improvement built into the plan
  PRECISION_EXECUTION_ROADMAP.md
Due: prettier --write

Phase 1B: Copied 8 high-priority routers to v1/ - OLD files preserved as backup
  apps/backend/src/routers/v1/auth.py
  apps/backend/src/routers/v1/bookings.py
  apps/backend/src/routers/v1/health.py
  apps/backend/src/routers/v1/leads.py
  apps/backend/src/routers/v1/payments.py
  apps/backend/src/routers/v1/reviews.py
  apps/backend/src/routers/v1/station_auth.py
  apps/backend/src/routers/v1/websocket_router.py
Due: ruff check --fix, black

Phase 1C: Copied remaining 16 routers (admin/, webhooks/ included) - All 24 routers now in v1/
  apps/backend/src/routers/v1/admin/error_logs.py
  apps/backend/src/routers/v1/admin/notification_groups.py
  apps/backend/src/routers/v1/admin/social.py
  apps/backend/src/routers/v1/admin_analytics.py
  apps/backend/src/routers/v1/booking_enhanced.py
  apps/backend/src/routers/v1/health_checks.py
  apps/backend/src/routers/v1/newsletter.py
  apps/backend/src/routers/v1/qr_tracking.py
  apps/backend/src/routers/v1/ringcentral_webhooks.py
  apps/backend/src/routers/v1/station_admin.py
  apps/backend/src/routers/v1/stripe.py
  apps/backend/src/routers/v1/webhooks/__init__.py
  apps/backend/src/routers/v1/webhooks/google_business_webhook.py
  apps/backend/src/routers/v1/webhooks/meta_webhook.py
  apps/backend/src/routers/v1/webhooks/ringcentral_webhook.py
  apps/backend/src/routers/v1/webhooks/stripe_webhook.py
Due: ruff check --fix, black

Phase 1D: Copied 10 service files (6 core + 4 social to services/social/) - Old files preserved
  apps/backend/src/services/ai_lead_management.py
  apps/backend/src/services/newsletter_service.py
  apps/backend/src/services/qr_tracking_service.py
  apps/backend/src/services/review_service.py
  apps/backend/src/services/ringcentral_sms.py
  apps/backend/src/services/social/social_ai_generator.py
  apps/backend/src/services/social/social_ai_tools.py
  apps/backend/src/services/social/social_clients.py
  apps/backend/src/services/social/social_service.py
  apps/backend/src/services/stripe_service.py
Due: ruff check --fix, black

Phase 1E: Copied 13 model files with legacy_ prefix - Zero conflicts with existing models/
  apps/backend/src/models/legacy_base.py
  apps/backend/src/models/legacy_booking_models.py
  apps/backend/src/models/legacy_core.py
  apps/backend/src/models/legacy_declarative_base.py
  apps/backend/src/models/legacy_encryption.py
  apps/backend/src/models/legacy_events.py
  apps/backend/src/models/legacy_feedback.py
  apps/backend/src/models/legacy_lead_newsletter.py
  apps/backend/src/models/legacy_models_init.py
  apps/backend/src/models/legacy_notification_groups.py
  apps/backend/src/models/legacy_qr_tracking.py
  apps/backend/src/models/legacy_social.py
  apps/backend/src/models/legacy_stripe_models.py
Due: ruff check --fix, black

Phase 1F: Copied 9 CQRS files (5 core + 4 social to cqrs/social/) - Old files preserved
  apps/backend/src/cqrs/base.py
  apps/backend/src/cqrs/command_handlers.py
  apps/backend/src/cqrs/crm_operations.py
  apps/backend/src/cqrs/query_handlers.py
  apps/backend/src/cqrs/registry.py
  apps/backend/src/cqrs/social/social_command_handlers.py
  apps/backend/src/cqrs/social/social_commands.py
  apps/backend/src/cqrs/social/social_queries.py
  apps/backend/src/cqrs/social/social_query_handlers.py
Due: ruff check --fix, black

Phase 1G: Copied 4 worker files (2 core + 2 social to workers/social/) - Old files preserved
  apps/backend/src/workers/outbox_processors.py
  apps/backend/src/workers/review_worker.py
  apps/backend/src/workers/social/social_outbox_processor.py
  apps/backend/src/workers/social/social_projector.py
Due: ruff check --fix, black
