Repository suryadizhang/mh-project-: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-unknown, eslint --cache --cache-location .eslintcache --fix --max-warnings=0, ruff check --fix --exit-zero, black --quiet

feat(batch-1): Admin email invitations, audit middleware, disable VPS auto-deploy
  .github/workflows/deploy-backend.yml
  apps/admin/src/app/superadmin/audit-logs/page.tsx
  apps/admin/src/app/superadmin/page.tsx
  apps/backend/src/api/ai/endpoints/auth.py
  apps/backend/src/api/ai/endpoints/routers/v1/unified_chat.py
  apps/backend/src/api/v1/endpoints/mfa.py
  apps/backend/src/api/v1/endpoints/user_management.py
  apps/backend/src/main.py
  apps/backend/src/middleware/audit_middleware.py
  apps/backend/src/routers/v1/admin/audit_logs.py
  apps/backend/src/routers/v1/bookings/crud.py
  apps/backend/src/routers/v1/bookings/delete.py
  apps/backend/src/routers/v1/station_auth.py
  apps/backend/src/services/email_service.py
  apps/backend/src/services/password_reset_service.py
  database/migrations/016_add_auth_provider_column.sql
  scripts/check_password.sql
  scripts/test_password.py
  scripts/update_password.sql
Due: prettier --write --ignore-unknown, eslint --cache --cache-location .eslintcache --fix --max-warnings=0, ruff check --fix --exit-zero, black --quiet

security: Remove hardcoded credentials from scripts
  scripts/init-db.sql
  scripts/reset_password.py
  scripts/test_bcrypt.py
Due: ruff check --fix --exit-zero, black --quiet

security: replace staging passwords with <STAGING_DB_PASSWORD> placeholders
  .env.example
  .github/instructions/16-INFRASTRUCTURE_DEPLOYMENT.instructions.md
  .github/instructions/19-DATABASE_SCHEMA_MANAGEMENT.instructions.md
  apps/backend/tests/conftest.py
  docs/04-DEPLOYMENT/STAGING_ENVIRONMENT_SETUP_GUIDE.md
  scripts/start-db-tunnel.ps1
Due: prettier --write --ignore-unknown, ruff check --fix --exit-zero, black --quiet

fix(admin): remove demo credentials and fix API paths with missing /api/ prefix
  apps/admin/src/app/login/page.tsx
  apps/admin/src/app/superadmin/roles/page.tsx
  apps/admin/src/app/superadmin/users/page.tsx
Due: prettier --write --ignore-unknown, eslint --cache --cache-location .eslintcache --fix --max-warnings=0

feat(batch-2): Stripe payment integration tables and service fixes
  apps/backend/src/main.py
  apps/backend/src/services/stripe_service.py
  database/migrations/017_stripe_tables.sql
Due: ruff check --fix --exit-zero, black --quiet

chore: simplify CI/CD to tests-only, fix staging URLs
  .github/instructions/07-TESTING_QA.instructions.md
  .github/workflows/ci-cd.yml
  .github/workflows/deploy-backend-staging.yml
  .github/workflows/deploy-backend.yml
  .github/workflows/run-tests.yml
  apps/customer/src/app/payment/page.tsx
  apps/customer/src/components/quote/QuoteCalculator.tsx
  apps/customer/src/hooks/usePolicies.ts
  configs/nginx/myhibachi-staging.conf
  docs/02-IMPLEMENTATION/OAUTH_ARCHITECTURE.md
Due: prettier --write --ignore-unknown, eslint --cache --cache-location .eslintcache --fix --max-warnings=0

security: fix dependency vulnerabilities and update type annotations
  apps/admin/package.json
  apps/customer/package.json
  package-lock.json
  packages/api-client/package.json
Due: prettier --write --ignore-unknown

fix(security): update Python dependencies and migrate python-jose to pyjwt
  apps/backend/requirements.txt
  apps/backend/src/core/security/tokens.py
  apps/backend/src/routers/v1/station_auth.py
  apps/backend/src/utils/auth/tokens.py
  requirements.txt
Due: ruff check --fix --exit-zero, black --quiet

fix(backend): upgrade fastapi to 0.128.0 for starlette security fix
  apps/backend/requirements.txt
Due: none

Path conditions:
  prettier --write --ignore-unknown: ((any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,md,yml,yaml})) or (any of: *.{css,scss})
  eslint --cache --cache-location .eslintcache --fix --max-warnings=0: any of: *.{js,jsx,ts,tsx}
  ruff check --fix --exit-zero: any of: *.py
  black --quiet: any of: *.py
