Repository suryadizhang/mh-project-: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-unknown, eslint --cache --cache-location .eslintcache --fix --max-warnings=0, ruff check --fix --exit-zero, black --quiet

fix(backend): avoid lazy-load in contact endpoint by adding LeadEvent directly
  apps/backend/src/routers/v1/contact.py
Due: ruff check --fix --exit-zero, black --quiet

fix(backend): add missing __init__.py for WebSocket modules
  apps/backend/src/api/v1/websockets/__init__.py
  apps/backend/src/api/websockets/__init__.py
Due: ruff check --fix --exit-zero, black --quiet

fix(admin): implement JWT token refresh for WebSocket connections
  apps/admin/src/app/auth/callback/page.tsx
  apps/admin/src/app/login/page.tsx
  apps/admin/src/hooks/useEscalationWebSocket.ts
  apps/admin/src/lib/api.ts
  apps/admin/src/services/api.ts
  apps/backend/src/api/v1/endpoints/google_oauth.py
  apps/backend/src/routers/v1/station_auth.py
Due: prettier --write --ignore-unknown, eslint --cache --cache-location .eslintcache --fix --max-warnings=0, ruff check --fix --exit-zero, black --quiet

fix(customer): use centralized getWsUrl() helper for production WebSocket connection
  apps/customer/src/components/chat/ChatWidget.tsx
  apps/customer/src/lib/env.ts
Due: prettier --write --ignore-unknown, eslint --cache --cache-location .eslintcache --fix --max-warnings=0

fix(admin): add proper error handling to emailApi.ts and WebSocket support to nginx
  apps/admin/src/services/emailApi.ts
  myhibachi-api.conf
Due: prettier --write --ignore-unknown, eslint --cache --cache-location .eslintcache --fix --max-warnings=0

fix(websocket): Add JWT authentication to useWebSocket hook
  apps/admin/src/hooks/useWebSocket.ts
Due: prettier --write --ignore-unknown, eslint --cache --cache-location .eslintcache --fix --max-warnings=0

fix(backend): delegate /api/v1/auth/refresh to real implementation
  apps/backend/src/api/v1/endpoints/auth.py
Due: ruff check --fix --exit-zero, black --quiet

security(admin): switch from localStorage to sessionStorage for token storage
  apps/admin/src/services/api.ts
Due: prettier --write --ignore-unknown, eslint --cache --cache-location .eslintcache --fix --max-warnings=0

feat: auth security fixes, email sync improvements, new models, and workspace cleanup
  .github/instructions/24-API_ROUTING_STANDARDS.instructions.md
  apps/admin/src/hooks/useWebSocket.ts
  apps/backend/src/api/v1/endpoints/auth.py
  apps/backend/src/core/security/tokens.py
  apps/backend/src/models/__init__.py
  apps/backend/src/models/booking.py
  apps/backend/src/models/customer.py
  apps/backend/src/models/enums/__init__.py
  apps/backend/src/models/enums/campaign_enums.py
  apps/backend/src/models/enums/lead_enums.py
  apps/backend/src/models/enums/social_enums.py
  apps/backend/src/models/events.py
  apps/backend/src/models/knowledge_base.py
  apps/backend/src/models/lead.py
  apps/backend/src/models/newsletter.py
  apps/backend/src/models/notification.py
  apps/backend/src/models/social.py
  apps/backend/src/repositories/email_repository.py
  apps/backend/src/routers/v1/auth.py
  apps/backend/src/scripts/backfill_emails.py
  apps/backend/src/services/email_sync_service.py
  apps/backend/src/services/payment_matcher_service.py
  apps/backend/src/services/qr_tracking_service.py
  apps/backend/tests/integration/test_auth_refresh.py
  database/migrations/012_token_blacklist_and_reset.sql
  database/migrations/20250627_create_email_tables.sql
  myhibachi-api.conf
Due: prettier --write --ignore-unknown, eslint --cache --cache-location .eslintcache --fix --max-warnings=0, ruff check --fix --exit-zero, black --quiet

fix(backend): support 'amount' key in dynamic_variables JSONB values
  apps/backend/src/services/business_config_service.py
Due: ruff check --fix --exit-zero, black --quiet

Path conditions:
  prettier --write --ignore-unknown: ((any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,md,yml,yaml})) or (any of: *.{css,scss})
  eslint --cache --cache-location .eslintcache --fix --max-warnings=0: any of: *.{js,jsx,ts,tsx}
  ruff check --fix --exit-zero: any of: *.py
  black --quiet: any of: *.py
