Repository suryadizhang/mh-project-: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-unknown, eslint --cache --cache-location .eslintcache --fix --max-warnings=0, ruff check --fix --exit-zero, black --quiet

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": [
    "prettier --write --ignore-unknown",
    "eslint --cache --cache-location .eslintcache --fix --max-warnings=0"
  ],
  "*.{json,md,yml,yaml}": ["prettier --write --ignore-unknown"],
  "*.py": ["ruff check --fix --exit-zero", "black --quiet"],
  "*.{css,scss}": ["prettier --write --ignore-unknown"]
}

fix(customer): add missing TypeScript generic type arguments
  apps/customer/src/app/payment/page.tsx
  apps/customer/src/components/quote/QuoteCalculator.tsx
  apps/customer/src/hooks/usePolicies.ts
Due: prettier --write --ignore-unknown, eslint --cache --cache-location .eslintcache --fix --max-warnings=0

fix(ci): pre-commit cross-platform fixes
  .pre-commit-config.yaml
Due: prettier --write --ignore-unknown

fix(ci): convert formatters to check-only mode to prevent auto-reverting changes
  .pre-commit-config.yaml
Due: prettier --write --ignore-unknown

docs: add VPS environment template and Docker deployment documentation
  .env.vps.example
  .gitignore
  docs/04-DEPLOYMENT/CI_CD_STRATEGY.md
Due: prettier --write --ignore-unknown

fix(customer): resolve TypeScript generic type errors and clean up empty workflows
  .github/workflows/deployment-testing.yml
  .github/workflows/sync-gsm-to-vercel.yml
Due: prettier --write --ignore-unknown

fix(batch-1): restore TypeScript generics and fix schema case mismatch
  .lintstagedrc.json
  .pre-commit-config.yaml
  apps/customer/src/app/book-us/page.tsx
  apps/customer/src/components/booking/DateTimeSelection.tsx
  apps/customer/src/data/booking/types.ts
Due: prettier --write --ignore-unknown, eslint --cache --cache-location .eslintcache --fix --max-warnings=0

fix(batch-1): fix pre-commit prettier --check conflict
  .pre-commit-config.yaml
Due: prettier --write --ignore-unknown

fix(batch-1): fix 6 admin route prefixes + Docker documentation update
  .github/instructions/09-ROLLBACK_SAFETY.instructions.md
  .github/instructions/16-INFRASTRUCTURE_DEPLOYMENT.instructions.md
  apps/admin/src/app/stations/page.tsx
  apps/admin/src/services/api.ts
  apps/backend/src/core/auth/models.py
  apps/backend/src/core/auth/station_middleware.py
  apps/backend/src/core/exceptions.py
  apps/backend/src/main.py
  apps/backend/src/routers/v1/admin/invitations.py
  apps/backend/src/routers/v1/auth.py
  apps/backend/src/services/email_service.py
  apps/backend/src/services/password_reset_service.py
  bookings_response.json
  e2e/admin/integration/booking-management.spec.ts
  e2e/helpers/auth-helpers.ts
  e2e/helpers/test-data.ts
  openapi.json
Due: prettier --write --ignore-unknown, eslint --cache --cache-location .eslintcache --fix --max-warnings=0, ruff check --fix --exit-zero, black --quiet

fix(docker): multi-stage build - copy Python packages to final image, fix Redis password
  Dockerfile
  docker-compose.prod.yml
Due: prettier --write --ignore-unknown

fix(docker): add g++ compiler for scikit-learn build
  Dockerfile
Due: none

fix(deps): add torch dependency for sentence-transformers
  apps/backend/requirements.txt
Due: none

fix(backend): disable torch/sentence-transformers for Alpine compatibility
  apps/backend/requirements.txt
Due: none

fix(docker): fix Python version mismatch - use 3.12 to match SHA digest
  Dockerfile
Due: none
