Repository suryadizhang/mh-project-: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-unknown, eslint --cache --cache-location .eslintcache --fix --max-warnings=0, ruff check --fix --exit-zero, black --quiet

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": [
    "prettier --write --ignore-unknown",
    "eslint --cache --cache-location .eslintcache --fix --max-warnings=0"
  ],
  "*.{json,md,yml,yaml}": ["prettier --write --ignore-unknown"],
  "*.py": ["ruff check --fix --exit-zero", "black --quiet"],
  "*.{css,scss}": ["prettier --write --ignore-unknown"]
}

feat(ui): add toast notification system (sonner)
  apps/customer/package.json
  apps/customer/src/app/layout.tsx
  apps/customer/src/components/ui/QuickNavigation.tsx
  apps/customer/src/components/ui/index.ts
  apps/customer/src/components/ui/toaster.tsx
  package-lock.json
Due: prettier --write --ignore-unknown, eslint --cache --cache-location .eslintcache --fix --max-warnings=0

docs: update batch 1 progress - Dec 8 session complete
  CURRENT_BATCH_STATUS.md
Due: prettier --write --ignore-unknown

refactor(customer): use dynamic pricing in all booking components
  apps/customer/src/components/booking/BookingHero.tsx
  apps/customer/src/components/booking/BookingSummary.tsx
  apps/customer/src/components/booking/DateTimeSelection.tsx
Due: prettier --write --ignore-unknown, eslint --cache --cache-location .eslintcache --fix --max-warnings=0

feat(customer): implement dynamic pricing templates for FAQ/policy content
  apps/customer/src/app/faqs/page.tsx
  apps/customer/src/data/faq.json
  apps/customer/src/data/faqsData.ts
  apps/customer/src/data/policies.json
  apps/customer/src/hooks/useFaqsWithPricing.ts
  apps/customer/src/lib/faqDataProvider.ts
  apps/customer/src/lib/pricingTemplates.ts
  apps/customer/src/lib/vectorSearch.ts
Due: prettier --write --ignore-unknown, eslint --cache --cache-location .eslintcache --fix --max-warnings=0

fix(customer): remove Yelp from footer social links
  apps/customer/src/components/layout/Footer.tsx
Due: prettier --write --ignore-unknown, eslint --cache --cache-location .eslintcache --fix --max-warnings=0

perf(customer): lazy load DatePicker for better initial page load
  apps/customer/src/app/BookUs/BookUsPageClient.tsx
  apps/customer/src/app/BookUs/page.tsx
  apps/customer/src/components/booking/DateTimeSelection.tsx
  apps/customer/src/components/booking/EventDetailsSection.tsx
  apps/customer/src/components/ui/LazyDatePicker.tsx
Due: prettier --write --ignore-unknown, eslint --cache --cache-location .eslintcache --fix --max-warnings=0

docs: update batch 1 progress with lazy datepicker and pricing templates
  CURRENT_BATCH_STATUS.md
Due: prettier --write --ignore-unknown

feat(customer): add global skeleton loading components
  apps/customer/src/app/BookUs/loading.tsx
  apps/customer/src/app/blog/loading.tsx
  apps/customer/src/app/checkout/loading.tsx
  apps/customer/src/app/faqs/loading.tsx
  apps/customer/src/app/menu/loading.tsx
  apps/customer/src/app/payment/loading.tsx
  apps/customer/src/app/quote/loading.tsx
  apps/customer/src/app/reviews/loading.tsx
  apps/customer/src/components/ui/Skeleton.tsx
Due: prettier --write --ignore-unknown, eslint --cache --cache-location .eslintcache --fix --max-warnings=0

docs: update batch 1 progress - skeleton loaders complete
  CURRENT_BATCH_STATUS.md
Due: prettier --write --ignore-unknown

feat(admin): add Scaling Health Dashboard + fix type errors
  apps/admin/src/app/(dashboard)/superadmin/knowledge-sync/page.tsx
  apps/admin/src/app/inbox/page.tsx
  apps/admin/src/app/newsletter/campaigns/page.tsx
  apps/admin/src/app/superadmin/knowledge-sync/page.tsx
  apps/admin/src/app/superadmin/page.tsx
  apps/admin/src/app/superadmin/pricing/page.tsx
  apps/admin/src/app/superadmin/scaling/loading.tsx
  apps/admin/src/app/superadmin/scaling/page.tsx
Due: prettier --write --ignore-unknown, eslint --cache --cache-location .eslintcache --fix --max-warnings=0

fix(packages): add tsconfig files and fix type errors
  packages/config/tsconfig.json
  packages/ui/src/utils/debounce.ts
  packages/ui/tsconfig.json
Due: prettier --write --ignore-unknown, eslint --cache --cache-location .eslintcache --fix --max-warnings=0

feat(backend,customer): add performance optimizations and accessibility
  apps/admin/src/app/superadmin/scaling/page.tsx
  apps/backend/src/main.py
  apps/backend/src/middleware/caching.py
  apps/customer/src/app/BookUs/BookUsPageClient.tsx
  apps/customer/src/hooks/useAutoSave.ts
  apps/customer/src/styles/booking/booking.css
Due: prettier --write --ignore-unknown, eslint --cache --cache-location .eslintcache --fix --max-warnings=0, ruff check --fix --exit-zero, black --quiet

feat(admin): add Audit Log Viewer with real API integration
  .gitignore
  CURRENT_BATCH_STATUS.md
  apps/admin/src/app/logs/page.tsx
  apps/admin/src/app/superadmin/scaling/loading.tsx
  apps/customer/src/app/BookUs/BookUsPageClient.tsx
Due: prettier --write --ignore-unknown, eslint --cache --cache-location .eslintcache --fix --max-warnings=0

docs: update Batch 1 status to CODE COMPLETE
  CURRENT_BATCH_STATUS.md
Due: prettier --write --ignore-unknown
