Repository suryadizhang/mh-project-: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-unknown, eslint --cache --cache-location .eslintcache --fix --max-warnings=0, ruff check --fix --exit-zero, black --quiet

docs(batch-1): add Enterprise-Lite documentation structure
  docs/00-ONBOARDING/GLOSSARY.md
  docs/00-ONBOARDING/PRD.md
  docs/00-ONBOARDING/PROJECT_OVERVIEW.md
  docs/01-ARCHITECTURE/API_CONTRACTS.md
  docs/01-ARCHITECTURE/DATA_FLOW.md
  docs/01-ARCHITECTURE/ERD.md
  docs/02-IMPLEMENTATION/DATA_DICTIONARY.md
Due: prettier --write --ignore-unknown

docs(batch-1): add deployment instructions for remaining items
  CURRENT_BATCH_STATUS.md
Due: prettier --write --ignore-unknown

feat(batch-1): add lead funnel tracking, Cloudflare config, and enhanced code review standards
  .github/instructions/07-TESTING_QA.instructions.md
  .github/instructions/10-COPILOT_PERFORMANCE.instructions.md
  .gitignore
  apps/backend/.env.example
  apps/backend/src/db/models/crm.py
  apps/backend/src/routers/v1/leads.py
  apps/customer/src/app/BookUs/page.tsx
  apps/customer/src/components/quote/QuoteCalculator.tsx
  apps/customer/src/lib/leadService.ts
  docs/00-ONBOARDING/PROJECT_OVERVIEW.md
  docs/01-ARCHITECTURE/ERD.md
Due: prettier --write --ignore-unknown, eslint --cache --cache-location .eslintcache --fix --max-warnings=0, ruff check --fix --exit-zero, black --quiet

perf: enterprise-grade performance and accessibility optimization
  apps/admin/next.config.js
  apps/admin/src/app/AdminLayoutNew.tsx
  apps/admin/src/app/login/page.tsx
  apps/customer/next.config.ts
  apps/customer/public/videos/hero_video.vtt
  apps/customer/src/app/page.tsx
  apps/customer/src/components/booking/BookingFormContainer.tsx
  apps/customer/src/components/booking/EventDetailsSection.tsx
  apps/customer/src/components/booking/styles/ContactInfoSection.module.css
  apps/customer/src/components/booking/styles/CustomerAddressSection.module.css
  apps/customer/src/components/booking/styles/VenueAddressSection.module.css
  apps/customer/src/components/booking/styles/form-inputs-global.css
  apps/customer/src/lib/performance/ViewportLazy.tsx
  apps/customer/src/lib/performance/imageOptimization.ts
  apps/customer/src/lib/performance/index.ts
  apps/customer/src/lib/performance/lazyComponents.ts
  apps/customer/src/lib/performance/performanceConfig.ts
  apps/customer/src/lib/performance/useIntersectionObserver.ts
Due: prettier --write --ignore-unknown, eslint --cache --cache-location .eslintcache --fix --max-warnings=0

perf: optimize fonts and add accessibility fixes
  apps/admin/src/app/login/page.tsx
  apps/customer/next.config.ts
  apps/customer/src/app/layout.tsx
Due: prettier --write --ignore-unknown, eslint --cache --cache-location .eslintcache --fix --max-warnings=0

perf: convert homepage to Server Component for faster LCP
  apps/customer/src/app/layout.tsx
  apps/customer/src/app/page.tsx
  apps/customer/src/components/home/HeroVideoLazy.tsx
  apps/customer/src/components/home/ScrollAnimationProvider.tsx
Due: prettier --write --ignore-unknown, eslint --cache --cache-location .eslintcache --fix --max-warnings=0

fix: update eslint disable comment syntax
  apps/customer/src/components/home/HeroVideoLazy.tsx
Due: prettier --write --ignore-unknown, eslint --cache --cache-location .eslintcache --fix --max-warnings=0

fix: add missing hero-poster.jpg and use next/image for LCP
  apps/customer/public/images/hero-poster.jpg
  apps/customer/src/components/home/HeroVideoLazy.tsx
Due: prettier --write --ignore-unknown, eslint --cache --cache-location .eslintcache --fix --max-warnings=0

docs: add media optimization instruction file (14-MEDIA_OPTIMIZATION)
  .github/instructions/00-BOOTSTRAP.instructions.md
  .github/instructions/14-MEDIA_OPTIMIZATION.instructions.md
Due: prettier --write --ignore-unknown

perf(customer): reduce render-blocking CSS by 25%
  apps/customer/src/app/globals.css
  apps/customer/src/app/layout.tsx
  apps/customer/src/lib/performance/criticalCSS.ts
  apps/customer/src/styles/base.css
  apps/customer/src/styles/faqs.css
  apps/customer/src/styles/faqs/faqs-base.css
Due: prettier --write --ignore-unknown, eslint --cache --cache-location .eslintcache --fix --max-warnings=0

perf(customer): remove 379 unused CSS lines from home.css (30% reduction)
  apps/customer/src/styles/home.css
Due: prettier --write --ignore-unknown

perf(customer): fix LCP by moving hero image to server component
  apps/customer/src/app/globals.css
  apps/customer/src/app/layout.tsx
  apps/customer/src/app/page.tsx
  apps/customer/src/components/home/HeroImage.tsx
  apps/customer/src/components/home/HeroVideoLazy.tsx
Due: prettier --write --ignore-unknown, eslint --cache --cache-location .eslintcache --fix --max-warnings=0

perf(customer): use native img tag for LCP element (removes JS dependency)
  apps/customer/src/components/home/HeroImage.tsx
Due: prettier --write --ignore-unknown, eslint --cache --cache-location .eslintcache --fix --max-warnings=0

Path conditions:
  prettier --write --ignore-unknown: ((any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,md,yml,yaml})) or (any of: *.{css,scss})
  eslint --cache --cache-location .eslintcache --fix --max-warnings=0: any of: *.{js,jsx,ts,tsx}
  ruff check --fix --exit-zero: any of: *.py
  black --quiet: any of: *.py
