Repository suryadizhang/mh-project-: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-unknown, eslint --cache --cache-location .eslintcache --fix --max-warnings=0, ruff check --fix --exit-zero, black --quiet

fix(backend): fix 11 UserRole enum comparison bugs
  apps/backend/src/api/ai/endpoints/services/intelligent_model_router.py
  apps/backend/src/api/v1/endpoints/ai/chat.py
  apps/backend/src/routers/v1/auth.py
  apps/backend/src/routers/v1/bookings.py
  apps/backend/src/routers/v1/bookings/cancellation.py
  apps/backend/src/routers/v1/knowledge_sync.py
Due: ruff check --fix --exit-zero, black --quiet

fix(backend): add role_matches helper function
  apps/backend/src/core/security/roles.py
Due: ruff check --fix --exit-zero, black --quiet

fix(backend): prevent 307 redirects that strip Authorization headers
  apps/admin/src/lib/api/endpoints.ts
  apps/backend/src/routers/v1/admin/audit_logs.py
  apps/backend/src/routers/v1/admin/config.py
  apps/backend/src/routers/v1/admin/error_logs.py
Due: prettier --write --ignore-unknown, eslint --cache --cache-location .eslintcache --fix --max-warnings=0, ruff check --fix --exit-zero, black --quiet

fix(backend): fix 307 redirect on /api/health endpoint
  apps/backend/src/routers/v1/health.py
Due: ruff check --fix --exit-zero, black --quiet

fix(backend): add missing User import to auth middleware
  apps/backend/src/core/auth/middleware.py
Due: ruff check --fix --exit-zero, black --quiet

fix(backend): move CORS middleware to be registered LAST (runs FIRST)
  apps/backend/src/main.py
Due: ruff check --fix --exit-zero, black --quiet

fix(admin): disable RoleSwitcher dev API calls in production
  apps/admin/src/components/superadmin/RoleSwitcher.tsx
Due: prettier --write --ignore-unknown, eslint --cache --cache-location .eslintcache --fix --max-warnings=0

fix(backend): Fix PostgreSQL ENUM comparison in get_current_user
  apps/backend/src/core/auth/middleware.py
Due: ruff check --fix --exit-zero, black --quiet

fix(auth): fix User.status ENUM comparison in AuthenticationService
  apps/backend/src/core/auth/models.py
Due: ruff check --fix --exit-zero, black --quiet

fix(auth): Fix User.status ENUM comparison in station_middleware.py
  apps/backend/src/core/auth/station_middleware.py
Due: ruff check --fix --exit-zero, black --quiet

Path conditions:
  prettier --write --ignore-unknown: ((any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,md,yml,yaml})) or (any of: *.{css,scss})
  eslint --cache --cache-location .eslintcache --fix --max-warnings=0: any of: *.{js,jsx,ts,tsx}
  ruff check --fix --exit-zero: any of: *.py
  black --quiet: any of: *.py
