Repository suryadizhang/mh-project-: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-unknown, eslint --fix, ruff check --fix --exit-zero, black --quiet

Phase 2C.1: Celery Worker Integration (Python 3.13 compatibility pending)
  apps/backend/src/api/v1/escalations/endpoints.py
  apps/backend/src/workers/celery_config.py
  apps/backend/start-celery-simple.ps1
Due: ruff check --fix --exit-zero, black --quiet

Add Celery beat schedule files to .gitignore
  .gitignore
Due: none

Phase 2C.2: WhatsApp Admin Notifications with Read Receipts
  apps/backend/.env.example
  apps/backend/src/api/v1/webhooks/twilio.py
  apps/backend/src/main.py
  apps/backend/src/models/escalation.py
  apps/backend/src/services/whatsapp_notification_service.py
  apps/backend/src/workers/escalation_tasks.py
Due: ruff check --fix --exit-zero, black --quiet

security: Remove leaked secrets from documentation files
  apps/backend/archive_old_reports/COMPLETE_SETUP_SUCCESS.md
  apps/backend/archive_old_reports/WEBHOOK_SETUP_INSTRUCTIONS.md
  apps/backend/archive_old_reports/WEBHOOK_TESTING_COMPLETE.md
  docs/04-DEPLOYMENT/CLOUDFLARE_TUNNEL_GUIDE.md
  docs/04-DEPLOYMENT/DEPLOYMENT_CHECKLIST.md
  docs/04-DEPLOYMENT/WEBHOOK_CONFIGURATION_PRODUCTION.md
  docs/06-QUICK_REFERENCE/WEBHOOK_TESTING_GUIDE.md
Due: prettier --write --ignore-unknown

Security Fix: Remove hardcoded Supabase credentials
  apps/backend/.env.example
  apps/backend/scripts/check_third_protein.py
  apps/backend/scripts/clean_fake_packages.py
  apps/backend/scripts/create_bookings_table.py
  apps/backend/scripts/test_week3_phase4_e2e.py
Due: ruff check --fix --exit-zero, black --quiet

Phase 1: Enhanced NLP Integration - Tone & FAQ Search
  apps/backend/src/api/ai/services/knowledge_service.py
  apps/backend/src/api/ai/services/tone_analyzer.py
Due: ruff check --fix --exit-zero, black --quiet

feat: Complete 6 core tasks - Admin Dashboard, Compliance Integration, Migrations, Forms, Popup, Infrastructure Audit
  INFRASTRUCTURE_AUDIT_AND_REFACTOR_PLAN.md
  QUICK_START_EXECUTION_GUIDE.md
  apps/admin/src/app/superadmin/knowledge-sync/page.tsx
  apps/admin/src/components/superadmin/DiffViewer.tsx
  apps/admin/src/components/superadmin/SyncHistoryTable.tsx
  apps/admin/src/components/superadmin/SyncStatusCards.tsx
  apps/backend/scripts/create_consent_referral_tables.sql
  apps/backend/src/services/lead_service.py
  apps/backend/src/services/newsletter_service.py
  apps/customer/src/components/forms/QuoteRequestForm.tsx
  apps/customer/src/components/lead-capture/ExitIntentPopup.tsx
  apps/customer/src/hooks/useExitIntent.ts
  scripts/phase0-commit-current-work.ps1
Due: prettier --write --ignore-unknown, eslint --fix, ruff check --fix --exit-zero, black --quiet

feat(phase-1): Implement DI foundation with BaseService, mixins, and EventService
  apps/backend/src/core/base_service.py
  apps/backend/src/core/dependencies.py
  apps/backend/src/services/event_service.py
Due: ruff check --fix --exit-zero, black --quiet

feat(phase-1): Refactor LeadService and NewsletterService with DI
  apps/backend/src/services/lead_service.py
  apps/backend/src/services/newsletter_service.py
Due: ruff check --fix --exit-zero, black --quiet

feat(options-2-3): Add SystemEvent model and update services to use DI
  apps/backend/src/core/dependencies.py
  apps/backend/src/db/migrations/alembic/versions/a1b2c3d4e5f6_create_system_events_table.py
  apps/backend/src/models/system_event.py
  apps/backend/src/services/booking_service.py
Due: ruff check --fix --exit-zero, black --quiet

feat(phase-2): Complete webhook refactoring with service layer
  apps/backend/src/core/dependencies.py
  apps/backend/src/routers/v1/webhooks/meta_webhook_refactored.py
  apps/backend/src/services/webhook_service.py
Due: ruff check --fix --exit-zero, black --quiet

feat(phase-3): Add ReferralService and NurtureCampaignService with API endpoints
  apps/backend/src/core/dependencies.py
  apps/backend/src/main.py
  apps/backend/src/routers/v1/campaigns.py
  apps/backend/src/routers/v1/referrals.py
  apps/backend/src/services/nurture_campaign_service.py
  apps/backend/src/services/referral_service.py
Due: ruff check --fix --exit-zero, black --quiet

feat(phase-4): Add comprehensive test suite with DI fixtures (45+ tests)
  apps/backend/src/core/base_service.py
  apps/backend/src/models/system_event.py
  apps/backend/src/services/event_service.py
  apps/backend/tests/conftest.py
  apps/backend/tests/test_nurture_campaign_service.py
  apps/backend/tests/test_referral_service.py
Due: ruff check --fix --exit-zero, black --quiet

Path conditions:
  prettier --write --ignore-unknown: ((any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,md,yml,yaml})) or (any of: *.{css,scss})
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  ruff check --fix --exit-zero: any of: *.py
  black --quiet: any of: *.py
