Repository suryadizhang/mh-project-: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-unknown, eslint --cache --cache-location .eslintcache --fix --max-warnings=0, ruff check --fix --exit-zero, black --quiet

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": [
    "prettier --write --ignore-unknown",
    "eslint --cache --cache-location .eslintcache --fix --max-warnings=0"
  ],
  "*.{json,md,yml,yaml}": ["prettier --write --ignore-unknown"],
  "*.py": ["ruff check --fix --exit-zero", "black --quiet"],
  "*.{css,scss}": ["prettier --write --ignore-unknown"]
}

fix(customer): increase z-index for datepicker and lower info-card z-index
  apps/customer/src/styles/quote-calculator.css
Due: prettier --write --ignore-unknown

feat(batch-1): implement SSoT pricing system + quality control standards
  .github/instructions/00-BOOTSTRAP.instructions.md
  .github/instructions/16-INFRASTRUCTURE_DEPLOYMENT.instructions.md
  .github/instructions/22-QUALITY_CONTROL.instructions.md
  apps/backend/src/services/booking_service.py
  apps/backend/src/services/coupon_reminder_service.py
  apps/backend/src/services/payment_email_monitor.py
  apps/backend/src/tasks/cancel_expired_bookings.py
  apps/customer/src/app/book-us/page.tsx
  apps/customer/src/app/quote/page.tsx
  apps/customer/src/components/quote/QuoteCalculator.tsx
  apps/customer/src/components/sections/ValuePropositionSection.tsx
  apps/customer/src/hooks/usePricing.ts
  scripts/pre-commit-check.ps1
Due: prettier --write --ignore-unknown, eslint --cache --cache-location .eslintcache --fix --max-warnings=0, ruff check --fix --exit-zero, black --quiet

feat(legal): add RingCentral SMS compliance verbiage to privacy policy
  apps/customer/src/app/privacy/page.tsx
  apps/customer/src/app/privacy/privacy.css
Due: prettier --write --ignore-unknown, eslint --cache --cache-location .eslintcache --fix --max-warnings=0

fix(privacy): improve RingCentral SMS compliance wording for better UX
  apps/customer/src/app/privacy/page.tsx
Due: prettier --write --ignore-unknown, eslint --cache --cache-location .eslintcache --fix --max-warnings=0

fix(privacy): simplify RingCentral SMS compliance to Option A
  apps/customer/src/app/privacy/page.tsx
Due: prettier --write --ignore-unknown, eslint --cache --cache-location .eslintcache --fix --max-warnings=0

fix(privacy): use exact RingCentral compliance wording
  apps/customer/src/app/privacy/page.tsx
Due: prettier --write --ignore-unknown, eslint --cache --cache-location .eslintcache --fix --max-warnings=0

perf: optimize AI instruction files for ~36% token reduction
  .github/instructions/00-BOOTSTRAP.instructions.md
  .github/instructions/16-INFRASTRUCTURE_DEPLOYMENT.instructions.md
  .github/instructions/23-BATCH_CONTEXT_LOADER.instructions.md
  docs/specs/AI_MULTI_LLM_ARCHITECTURE.md
  docs/specs/SMART_SCHEDULING_SYSTEM.md
Due: prettier --write --ignore-unknown

fix(backend): Fix SQLAlchemy relationships - UserSession, AuditLog, PasswordResetToken now reference User instead of StationUser
  apps/backend/src/core/auth/models.py
  apps/backend/src/db/models/identity/users.py
Due: ruff check --fix --exit-zero, black --quiet

feat(customer): enhance legal agreement modal with comprehensive policies
  apps/customer/src/components/booking/BookingAgreementModal.tsx
Due: prettier --write --ignore-unknown, eslint --cache --cache-location .eslintcache --fix --max-warnings=0

feat(customer): synchronize policies across FAQs, terms, and agreement
  apps/customer/src/app/terms/page.tsx
  apps/customer/src/components/booking/BookingAgreementModal.tsx
  apps/customer/src/data/faqsData.ts
Due: prettier --write --ignore-unknown, eslint --cache --cache-location .eslintcache --fix --max-warnings=0

docs(faqs): expand FAQ content with policy details from booking agreement
  apps/customer/src/data/faqsData.ts
Due: prettier --write --ignore-unknown, eslint --cache --cache-location .eslintcache --fix --max-warnings=0

feat(legal): Add food safety FAQs, waiver language, and health notices
  apps/backend/src/services/email_service.py
  apps/backend/src/services/unified_notification_service.py
  apps/customer/src/components/booking/BookingAgreementModal.tsx
  apps/customer/src/components/booking/BookingForm.tsx
  apps/customer/src/data/faqsData.ts
  apps/customer/src/lib/email-service.ts
Due: prettier --write --ignore-unknown, eslint --cache --cache-location .eslintcache --fix --max-warnings=0, ruff check --fix --exit-zero, black --quiet
