Repository suryadizhang/mh-project-: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-unknown, eslint --cache --cache-location .eslintcache --fix --max-warnings=0, ruff check --fix --exit-zero, black --quiet

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": [
    "prettier --write --ignore-unknown",
    "eslint --cache --cache-location .eslintcache --fix --max-warnings=0"
  ],
  "*.{json,md,yml,yaml}": ["prettier --write --ignore-unknown"],
  "*.py": ["ruff check --fix --exit-zero", "black --quiet"],
  "*.{css,scss}": ["prettier --write --ignore-unknown"]
}

feat(smart-scheduling): integrate TravelTimeService + address-first booking flow
  .github/instructions/17-SMART_SCHEDULING_SYSTEM.instructions.md
  apps/backend/src/routers/v1/public_quote.py
  apps/customer/src/app/BookUs/BookUsPageClient.tsx
  database/migrations/SMART_SCHEDULING_PHASE_1.sql
Due: prettier --write --ignore-unknown, eslint --cache --cache-location .eslintcache --fix --max-warnings=0, ruff check --fix --exit-zero, black --quiet

fix(customer): update vercel config for standalone deployment
  apps/customer/.gitignore
  apps/customer/vercel.json
Due: prettier --write --ignore-unknown

fix(customer): hide chat widget when AI_CHAT_ENABLED is false
  apps/customer/src/components/layout/ClientLayout.tsx
Due: prettier --write --ignore-unknown, eslint --cache --cache-location .eslintcache --fix --max-warnings=0

fix(customer): make Stripe and NextAuth env vars optional until Batch 2
  apps/customer/src/lib/env.ts
Due: prettier --write --ignore-unknown, eslint --cache --cache-location .eslintcache --fix --max-warnings=0

fix(customer): disable optimizeCss to fix Vercel monorepo build
  apps/backend/src/services/accounting/__init__.py
  apps/backend/src/services/accounting/akaunting_client.py
  apps/backend/src/services/accounting/chef_payroll_service.py
  apps/backend/src/services/accounting/invoice_sync_service.py
  apps/backend/src/services/accounting/payment_sync_service.py
  apps/backend/src/services/accounting/vendor_sync_service.py
  apps/customer/next.config.ts
  database/migrations/BATCH_7A_ACCOUNTING_SCHEMA.sql
  docker/akaunting/.env.example
  docker/akaunting/README.md
  docker/akaunting/cloudflared-config.yml
  docker/akaunting/docker-compose.yml
  docker/akaunting/install.sh
Due: prettier --write --ignore-unknown, eslint --cache --cache-location .eslintcache --fix --max-warnings=0, ruff check --fix --exit-zero, black --quiet

fix(customer): make env.ts resilient to missing vars on client-side
  apps/customer/src/lib/env.ts
Due: prettier --write --ignore-unknown, eslint --cache --cache-location .eslintcache --fix --max-warnings=0

feat(notifications): add dual notification system (email + WhatsApp/SMS) and RingCentral SMS consent compliance
  apps/backend/src/routers/v1/public_bookings.py
  apps/backend/src/services/email_service.py
  apps/customer/src/components/booking/SMSConsent.tsx
  apps/customer/src/components/forms/QuoteRequestForm.tsx
  apps/customer/src/components/lead-capture/ExitIntentPopup.tsx
  apps/customer/src/components/quote/QuoteCalculator.tsx
  apps/customer/src/lib/leadService.ts
Due: prettier --write --ignore-unknown, eslint --cache --cache-location .eslintcache --fix --max-warnings=0, ruff check --fix --exit-zero, black --quiet

fix(backend): fix response schema mismatch in public_bookings endpoints
  apps/backend/src/routers/v1/public_bookings.py
Due: ruff check --fix --exit-zero, black --quiet

fix(backend): use correct Houston station ID for public bookings
  apps/backend/src/routers/v1/public_bookings.py
Due: ruff check --fix --exit-zero, black --quiet

feat(backend): implement enterprise-grade transaction handling for public bookings
  apps/backend/src/routers/v1/public_bookings.py
Due: ruff check --fix --exit-zero, black --quiet

fix(backend): use sync business config to prevent transaction abort
  apps/backend/src/routers/v1/public_bookings.py
Due: ruff check --fix --exit-zero, black --quiet

fix(backend): strip timezone from naive datetime columns
  apps/backend/src/routers/v1/public_bookings.py
Due: ruff check --fix --exit-zero, black --quiet

fix(backend): add special_requests parameter to notification function
  apps/backend/src/services/unified_notification_service.py
Due: ruff check --fix --exit-zero, black --quiet
