Repository suryadizhang/mh-project-: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-unknown, eslint --cache --cache-location .eslintcache --fix --max-warnings=0, ruff check --fix --exit-zero, black --quiet

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": [
    "prettier --write --ignore-unknown",
    "eslint --cache --cache-location .eslintcache --fix --max-warnings=0"
  ],
  "*.{json,md,yml,yaml}": ["prettier --write --ignore-unknown"],
  "*.py": ["ruff check --fix --exit-zero", "black --quiet"],
  "*.{css,scss}": ["prettier --write --ignore-unknown"]
}

fix(backend): remove value_type column dependency from dynamic_variables query
  apps/backend/src/services/business_config_service.py
Due: ruff check --fix --exit-zero, black --quiet

fix(backend): implement payment email API and improve JWT error logging
  apps/backend/src/core/security/tokens.py
  apps/backend/src/routers/v1/admin_emails.py
Due: ruff check --fix --exit-zero, black --quiet

fix(backend): add await to async db.execute() calls in payment emails endpoint
  apps/backend/src/routers/v1/admin_emails.py
Due: ruff check --fix --exit-zero, black --quiet

fix(backend): use correct column name email_subject in payment emails query
  apps/backend/src/routers/v1/admin_emails.py
Due: ruff check --fix --exit-zero, black --quiet

fix(batch-1): pass db_session to PaymentEmailMonitor to enable email recording
  apps/backend/src/services/payment_email_scheduler.py
Due: ruff check --fix --exit-zero, black --quiet

fix(admin): fix WebSocket token refresh for escalations endpoint
  apps/admin/src/app/login/page.tsx
  apps/admin/src/contexts/AuthContext.tsx
  apps/admin/src/services/api.ts
Due: prettier --write --ignore-unknown, eslint --cache --cache-location .eslintcache --fix --max-warnings=0

feat(admin): add Audit Trail UI and 5-Phase Logging Architecture
  apps/admin/src/app/emails/page.tsx
  apps/admin/src/app/superadmin/audit-logs/page.tsx
  apps/admin/src/app/superadmin/page.tsx
  apps/admin/src/services/email-api.ts
  apps/backend/src/core/security/audit.py
  apps/backend/src/main.py
  apps/backend/src/routers/v1/admin/audit_logs.py
  apps/backend/src/services/audit_service.py
  database/migrations/015_create_audit_logs_table.sql
  docs/01-ARCHITECTURE/LOGGING_ARCHITECTURE.md
  docs/05-OPERATIONS/SSH_KEY_MANAGEMENT.md
Due: prettier --write --ignore-unknown, eslint --cache --cache-location .eslintcache --fix --max-warnings=0, ruff check --fix --exit-zero, black --quiet

fix(jwt): add audience claim to token creation - fixes 403 WebSocket errors
  apps/admin/src/config/navigation.config.ts
  apps/backend/src/core/security/tokens.py
  apps/backend/src/routers/v1/station_auth.py
  apps/backend/src/utils/auth/tokens.py
Due: prettier --write --ignore-unknown, eslint --cache --cache-location .eslintcache --fix --max-warnings=0, ruff check --fix --exit-zero, black --quiet

fix(admin): add /api prefix to audit-logs API calls
  apps/admin/src/app/superadmin/audit-logs/page.tsx
Due: prettier --write --ignore-unknown, eslint --cache --cache-location .eslintcache --fix --max-warnings=0

feat(admin): failproof API routing with centralized constants
  .github/instructions/22-QUALITY_CONTROL.instructions.md
  .github/instructions/24-API_ROUTING_STANDARDS.instructions.md
  apps/admin/src/app/superadmin/audit-logs/page.tsx
  apps/admin/src/lib/api/endpoints.ts
Due: prettier --write --ignore-unknown, eslint --cache --cache-location .eslintcache --fix --max-warnings=0
