Repository suryadizhang/mh-project-: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-unknown, eslint --cache --cache-location .eslintcache --fix --max-warnings=0, ruff check --fix --exit-zero, black --quiet

fix(backend): add special_requests parameter to notification function
  apps/backend/src/services/unified_notification_service.py
Due: ruff check --fix --exit-zero, black --quiet

feat(notifications): add SMTP email support and Meta WhatsApp API provider
  apps/backend/src/services/email_service.py
  apps/backend/src/services/unified_notification_service.py
Due: ruff check --fix --exit-zero, black --quiet

feat(batch-1): ESLint upgrade, env safety, URL redirects, and production E2E tests
  apps/admin/.eslintrc.json
  apps/admin/next.config.js
  apps/admin/package.json
  apps/backend/src/services/email_service.py
  apps/customer/next.config.ts
  apps/customer/package.json
  apps/customer/src/app/contact.html/page.tsx
  apps/customer/src/components/quote/QuoteCalculator.tsx
  apps/customer/src/lib/env.ts
  booking_test.json
  database/migrations/BATCH_7A_ACCOUNTING_SCHEMA.sql
  docs/RINGCENTRAL_UPDATE_INSTRUCTIONS.md
  e2e/api/production-health.spec.ts
  e2e/customer/booking/production-booking-flow.spec.ts
  e2e/customer/smoke/homepage.spec.ts
  package-lock.json
  playwright.config.ts
  playwright.prod.config.ts
  test-list.txt
  test-results-example/.last-run.json
Due: prettier --write --ignore-unknown, eslint --cache --cache-location .eslintcache --fix --max-warnings=0, ruff check --fix --exit-zero, black --quiet

fix(customer): resolve Google Maps autocomplete ref conflict in BookUs page
  apps/customer/src/app/BookUs/page.tsx
Due: prettier --write --ignore-unknown, eslint --cache --cache-location .eslintcache --fix --max-warnings=0

fix(backend): correct upgrade price key from third_protein to extra_protein
  apps/backend/src/routers/v1/public_quote.py
Due: ruff check --fix --exit-zero, black --quiet

fix(customer): fix quote calculator API URL and improve UX
  apps/backend/src/api/ai/endpoints/services/multi_channel_ai_handler.py
  apps/customer/src/app/menu/page.tsx
  apps/customer/src/components/quote/QuoteCalculator.tsx
  apps/customer/src/components/sections/ValuePropositionSection.tsx
Due: prettier --write --ignore-unknown, eslint --cache --cache-location .eslintcache --fix --max-warnings=0, ruff check --fix --exit-zero, black --quiet

feat(batch-4): register Meta webhook router and fix endpoint paths for verification
  apps/backend/src/core/config.py
  apps/backend/src/main.py
  apps/backend/src/routers/v1/webhooks/meta_webhook_refactored.py
Due: ruff check --fix --exit-zero, black --quiet

fix(meta-webhook): use correct settings attribute name META_APP_SECRET
  apps/backend/src/routers/v1/webhooks/meta_webhook_refactored.py
Due: ruff check --fix --exit-zero, black --quiet

feat(whatsapp): replace Twilio with Meta WhatsApp Cloud API
  apps/backend/src/services/whatsapp_notification_service.py
Due: ruff check --fix --exit-zero, black --quiet

feat(whatsapp): add test endpoints for send/receive debugging
  apps/backend/src/routers/v1/webhooks/meta_webhook_refactored.py
Due: ruff check --fix --exit-zero, black --quiet

feat(whatsapp): add template support to test send endpoint
  apps/backend/src/routers/v1/webhooks/meta_webhook_refactored.py
Due: ruff check --fix --exit-zero, black --quiet

feat(whatsapp): add booking_confirmation template support and test endpoint
  apps/backend/src/routers/v1/webhooks/meta_webhook_refactored.py
  apps/backend/src/services/whatsapp_notification_service.py
Due: ruff check --fix --exit-zero, black --quiet

fix(whatsapp): fix syntax error in test/receive endpoint
  apps/backend/src/routers/v1/webhooks/meta_webhook_refactored.py
Due: ruff check --fix --exit-zero, black --quiet

refactor(batch-4): Replace WhatsApp notifications with IONOS SMTP email
  .github/instructions/00-BOOTSTRAP.instructions.md
  .github/instructions/07-TESTING_QA.instructions.md
  .github/instructions/16-INFRASTRUCTURE_DEPLOYMENT.instructions.md
  .github/instructions/19-DATABASE_SCHEMA_MANAGEMENT.instructions.md
  .gitignore
  apps/backend/.env.example
  apps/backend/requirements.txt
  apps/backend/scripts/quick_tests/test_admin_notifications.py
  apps/backend/scripts/seed_ai_training_data.py
  apps/backend/scripts/seed_ai_training_real.py
  apps/backend/src/api/ai/endpoints/services/multi_channel_ai_handler.py
  apps/backend/src/api/ai/endpoints/services/pricing_service.py
  apps/backend/src/api/ai/endpoints/services/protein_calculator_service.py
  apps/backend/src/api/ai/orchestrator/tools/protein_tool.py
  apps/backend/src/api/v1/inbox/router.py
  apps/backend/src/api/v1/webhooks/twilio.py
  apps/backend/src/config/ai_booking_config.py
  apps/backend/src/db/migrations/alembic/versions/6fd48d0caced_create_ai_schema.py
  apps/backend/src/db/models/ai/conversations.py
  apps/backend/src/routers/v1/faq_settings.py
  apps/backend/src/routers/v1/health_checks.py
  apps/backend/src/routers/v1/public_quote.py
  apps/backend/src/routers/v1/webhooks/meta_webhook_refactored.py
  apps/backend/src/schemas/terms_acknowledgment.py
  apps/backend/src/services/conversation_unification_service.py
  apps/backend/src/services/security_monitoring_service.py
  apps/backend/src/services/staff_notification_service.py
  apps/backend/src/services/terms_acknowledgment_service.py
  apps/backend/src/services/unified_notification_service.py
  apps/backend/src/services/webhook_service.py
  apps/backend/src/services/whatsapp_notification_service.py
  apps/backend/tests/integrations/verify_integration.py
  apps/backend/tests/services/test_notification_integration.py
  apps/backend/tests/services/test_notifications.py
  apps/backend/tests/services/test_twilio_whatsapp.py
  apps/customer/src/components/quote/QuoteCalculator.tsx
  apps/customer/src/lib/pricingApi.ts
  docs/06-QUICK_REFERENCE/TWILIO_QUICK_START.md
Due: prettier --write --ignore-unknown, eslint --cache --cache-location .eslintcache --fix --max-warnings=0, ruff check --fix --exit-zero, black --quiet

Path conditions:
  prettier --write --ignore-unknown: ((any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,md,yml,yaml})) or (any of: *.{css,scss})
  eslint --cache --cache-location .eslintcache --fix --max-warnings=0: any of: *.{js,jsx,ts,tsx}
  ruff check --fix --exit-zero: any of: *.py
  black --quiet: any of: *.py
