Repository suryadizhang/mh-project-: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-unknown, eslint --cache --cache-location .eslintcache --fix --max-warnings=0, ruff check --fix --exit-zero, black --quiet

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": [
    "prettier --write --ignore-unknown",
    "eslint --cache --cache-location .eslintcache --fix --max-warnings=0"
  ],
  "*.{json,md,yml,yaml}": ["prettier --write --ignore-unknown"],
  "*.py": ["ruff check --fix --exit-zero", "black --quiet"],
  "*.{css,scss}": ["prettier --write --ignore-unknown"]
}

chore: trigger Vercel redeploy
  apps/admin/.vercel-trigger
Due: none

fix(backend): use uppercase FIELD_ENCRYPTION_KEY in settings access
  apps/backend/src/utils/encryption.py
Due: ruff check --fix --exit-zero, black --quiet

fix(audit-logs): add trailing slash to endpoints and response_model_by_alias
  apps/admin/src/lib/api/endpoints.ts
  apps/backend/src/routers/v1/admin/audit_logs.py
Due: prettier --write --ignore-unknown, eslint --cache --cache-location .eslintcache --fix --max-warnings=0, ruff check --fix --exit-zero, black --quiet

fix(admin): add trailing slashes to all admin endpoints to avoid 307 redirect
  apps/admin/src/lib/api/endpoints.ts
Due: prettier --write --ignore-unknown, eslint --cache --cache-location .eslintcache --fix --max-warnings=0

fix(admin): remove trailing slashes from audit-logs/stats and audit-logs/actions endpoints - Backend routes don't have trailing slashes, causing 307 redirects which break CORS
  apps/admin/src/lib/api/endpoints.ts
Due: prettier --write --ignore-unknown, eslint --cache --cache-location .eslintcache --fix --max-warnings=0

fix(admin): remove trailing slash from main AUDIT_LOGS and ERROR_LOGS endpoints
  apps/admin/src/lib/api/endpoints.ts
Due: prettier --write --ignore-unknown, eslint --cache --cache-location .eslintcache --fix --max-warnings=0

fix(admin): use tokenManager.getToken() instead of localStorage.getItem('access_token') across all superadmin pages
  apps/admin/src/app/superadmin/audit-logs/page.tsx
  apps/admin/src/app/superadmin/roles/page.tsx
  apps/admin/src/app/superadmin/scaling/page.tsx
  apps/admin/src/app/superadmin/users/page.tsx
  apps/backend/src/core/auth/middleware.py
  temp_audit_migration.sql
Due: prettier --write --ignore-unknown, eslint --cache --cache-location .eslintcache --fix --max-warnings=0, ruff check --fix --exit-zero, black --quiet

fix(admin): replace all localStorage.getItem('admin_token') with tokenManager.getToken()
  .github/instructions/25-TOKEN_AUTHENTICATION_STANDARDS.instructions.md
  apps/admin/src/app/inbox/page.tsx
  apps/admin/src/app/newsletter/analytics/page.tsx
  apps/admin/src/app/newsletter/campaigns/[id]/page.tsx
  apps/admin/src/app/newsletter/campaigns/page.tsx
  apps/admin/src/app/newsletter/subscribers/page.tsx
  apps/admin/src/components/newsletter/ComplianceWidget.tsx
  apps/admin/src/components/superadmin/RoleSwitcher.tsx
Due: prettier --write --ignore-unknown, eslint --cache --cache-location .eslintcache --fix --max-warnings=0

fix(auth): resolve require_roles() bug causing 403 on all admin endpoints
  apps/admin/src/contexts/AuthContext.tsx
  apps/backend/src/core/auth/__init__.py
Due: prettier --write --ignore-unknown, eslint --cache --cache-location .eslintcache --fix --max-warnings=0, ruff check --fix --exit-zero, black --quiet

fix(auth): normalize role comparisons to handle underscore variations
  apps/backend/src/api/ai/endpoints/auth.py
  apps/backend/src/core/security/roles.py
  apps/backend/src/routers/v1/admin/config.py
  apps/backend/src/routers/v1/station_auth.py
  apps/backend/src/services/approval_service.py
  apps/backend/src/utils/auth/decorators.py
Due: ruff check --fix --exit-zero, black --quiet
