Repository suryadizhang/mh-project-: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --check --ignore-unknown, eslint --cache --cache-location .eslintcache, ruff check, black --check --quiet

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["prettier --check --ignore-unknown", "eslint --cache --cache-location .eslintcache"],
  "*.{json,md,yml,yaml}": ["prettier --check --ignore-unknown"],
  "*.py": ["ruff check", "black --check --quiet"],
  "*.{css,scss}": ["prettier --check --ignore-unknown"]
}

fix(batch-1): Industry-standard auth and validation fixes
  MyHibachi_Batch1_Tests.postman_collection.json
  apps/backend/src/routers/v1/admin/users.py
  apps/backend/src/routers/v1/public_quote.py
  apps/backend/src/routers/v1/stations.py
  docs/API_DOCUMENTATION_STAGING.md
  scripts/gen_hash.py
  scripts/update_password.sql
Due: prettier --check --ignore-unknown, ruff check, black --check --quiet

security: remove leaked tokens and update secrets baseline
  .github/instructions/27-LOCAL_FIRST_DEVELOPMENT.instructions.md
  .gitignore
  .secrets.baseline
Due: prettier --check --ignore-unknown

docs(instructions): add AI agent enforcement section for Docker-first testing
  .github/instructions/27-LOCAL_FIRST_DEVELOPMENT.instructions.md
Due: prettier --check --ignore-unknown

fix(e2e): fix admin API tests to use correct JSON login format
  .secrets.baseline
  e2e/api/admin.spec.ts
  e2e/helpers/mock-data.ts
Due: prettier --check --ignore-unknown, eslint --cache --cache-location .eslintcache

test(e2e): enable booking auth tests, add debug logging for 401 issue
  e2e/api/bookings.spec.ts
Due: prettier --check --ignore-unknown, eslint --cache --cache-location .eslintcache

fix(backend): standardize JWT token validation across routers
  apps/backend/src/routers/v1/admin/users.py
  apps/backend/src/utils/auth/tokens.py
Due: ruff check, black --check --quiet

fix(backend): add missing order_by parameter to paginate_query calls
  apps/backend/src/routers/v1/bookings/crud.py
Due: ruff check, black --check --quiet

fix(backend): fix datetime issues in booking service and add booking_datetime computed column
  apps/backend/src/db/models/core.py
  apps/backend/src/services/booking_service.py
  database/migrations/024_add_booking_datetime_computed.sql
  e2e/api/bookings.spec.ts
Due: prettier --check --ignore-unknown, eslint --cache --cache-location .eslintcache, ruff check, black --check --quiet

fix(batch-1): fix cancelled_at datetime and remove unused timezone import
  apps/backend/src/services/booking_service.py
Due: ruff check, black --check --quiet

fix(batch-1): mark booking_datetime as Computed() for PostgreSQL GENERATED column
  apps/backend/src/db/models/core.py
Due: ruff check, black --check --quiet

fix(batch-1): use timezone-aware datetime.now(timezone.utc) for PostgreSQL compatibility
  apps/backend/src/services/booking_service.py
Due: ruff check, black --check --quiet

fix(batch-1): align SQLAlchemy model DateTime columns with database timestamptz schema
  apps/backend/src/db/models/core.py
  database/migrations/025_fix_timestamp_columns_timezone.sql
Due: ruff check, black --check --quiet

fix(backend): fix PUT/DELETE booking endpoints
  .secrets.baseline
  apps/backend/src/routers/v1/bookings/crud.py
  apps/backend/src/routers/v1/bookings/delete.py
  e2e/api/admin.spec.ts
  e2e/api/bookings.spec.ts
Due: prettier --check --ignore-unknown, eslint --cache --cache-location .eslintcache, ruff check, black --check --quiet

feat(backend): add multi-chef capacity support and custom time E2E tests
  apps/backend/src/routers/v1/bookings/crud.py
  e2e/api/bookings.spec.ts
Due: prettier --check --ignore-unknown, eslint --cache --cache-location .eslintcache, ruff check, black --check --quiet

fix(backend): fix AuditLogger.log_delete() call parameters in delete.py
  MyHibachi_Batch1_Tests.postman_collection.json
  apps/backend/src/routers/v1/bookings/delete.py
  database/migrations/024_add_booking_datetime_computed.sql
  database/migrations/025_fix_timestamp_columns_timezone.sql
  docs/API_DOCUMENTATION_STAGING.md
  e2e/api/bookings.spec.ts
Due: prettier --check --ignore-unknown, eslint --cache --cache-location .eslintcache, ruff check, black --check --quiet

fix(backend): fix booking.guests to party_adults in PUT endpoint
  apps/backend/src/routers/v1/bookings/crud.py
Due: ruff check, black --check --quiet

fix(audit): use JSONB bindparam for asyncpg compatibility
  apps/backend/src/core/audit_logger.py
Due: ruff check, black --check --quiet

fix(e2e): correct field names in PUT booking test (guests instead of guestCount)
  e2e/api/bookings.spec.ts
Due: prettier --check --ignore-unknown, eslint --cache --cache-location .eslintcache

feat(backend): add sentry-debug endpoint for error tracking verification
  apps/backend/src/routers/v1/health.py
Due: ruff check, black --check --quiet

fix(backend): fix PaymentStatus enum to use lowercase values for PostgreSQL compatibility
  apps/backend/src/db/models/core.py
  apps/backend/src/db/models/stripe.py
  apps/backend/src/services/payment_matcher_service.py
Due: ruff check, black --check --quiet

fix(backend): add transaction rollback to prevent InFailedSqlTransaction cascading errors
  apps/backend/src/services/payment_email_monitor.py
  apps/backend/src/services/payment_matcher_service.py
Due: ruff check, black --check --quiet

fix(backend): fix async session usage - get_async_session returns session directly not generator
  apps/backend/src/tasks/email_notification_task.py
  apps/backend/src/workers/recording_tasks.py
Due: ruff check, black --check --quiet

feat(docker): add GSM service account key mount for Secret Manager access
  docker-compose.prod.yml
  docker-compose.staging.yml
Due: prettier --check --ignore-unknown

fix(backend): Add missing notification service methods to prevent AttributeError
  apps/backend/src/services/email_notification_service.py
  apps/backend/src/services/unified_notification_service.py
  apps/backend/src/services/whatsapp_notification_service.py
Due: ruff check, black --check --quiet

fix(backend): Use REDIS_URL env var in get_cache_service + fix staging processed_emails schema
  apps/backend/src/core/cache.py
  database/migrations/026_fix_processed_emails_schema.sql
Due: ruff check, black --check --quiet

debug: add Redis URL logging to trace localhost connection issue
  apps/backend/src/core/cache.py
  apps/backend/src/main.py
Due: ruff check, black --check --quiet

chore: remove debug logging from Redis connection (issue resolved)
  apps/backend/src/core/cache.py
  apps/backend/src/main.py
Due: ruff check, black --check --quiet

fix(monitoring): categorize payment matching errors to reduce Sentry noise
  apps/backend/src/services/payment_email_scheduler.py
  apps/backend/src/services/payment_matcher_service.py
Due: ruff check, black --check --quiet

fix(monitoring): reduce Sentry noise from expected errors
  apps/backend/src/config/gsm_config.py
  apps/backend/src/services/email_idle_monitor.py
  database/migrations/026_fix_processed_emails_schema.sql
Due: ruff check, black --check --quiet

fix(backend): remove DATABASE_URL and REDIS_URL from GSM loading - use Docker env vars instead
  apps/backend/src/core/config.py
Due: ruff check, black --check --quiet

fix(backend): resolve 5 Sentry error categories
  apps/backend/src/db/models/payment_notification.py
  apps/backend/src/routers/v1/scheduling.py
  apps/backend/src/services/payment_email_scheduler.py
  apps/backend/src/services/scheduling/negotiation_service.py
  apps/backend/src/services/scheduling/suggestion_engine.py
Due: ruff check, black --check --quiet

feat(frontend): add Sentry error tracking to customer and admin apps
  apps/admin/next.config.js
  apps/admin/package.json
  apps/admin/sentry.client.config.ts
  apps/admin/sentry.edge.config.ts
  apps/admin/sentry.server.config.ts
  apps/customer/next.config.ts
  apps/customer/package.json
  apps/customer/sentry.client.config.ts
  apps/customer/sentry.edge.config.ts
  apps/customer/sentry.server.config.ts
  package-lock.json
Due: prettier --check --ignore-unknown, eslint --cache --cache-location .eslintcache

fix(customer): allow UptimeRobot and monitoring bots in middleware
  apps/customer/src/middleware.ts
Due: prettier --check --ignore-unknown, eslint --cache --cache-location .eslintcache

fix(backend): add HEAD method support to health endpoint
  apps/backend/src/routers/v1/health.py
Due: ruff check, black --check --quiet

fix(backend): add HEAD method support to root /health endpoint for UptimeRobot
  apps/backend/src/main.py
Due: ruff check, black --check --quiet

fix(backend): fix pre-commit issues - add type annotations, remove unused imports, add ruff noqa for E402
  apps/backend/src/main.py
Due: ruff check, black --check --quiet

fix(backend): remove unused Request parameter causing FastAPI startup error
  apps/backend/src/main.py
Due: ruff check, black --check --quiet

fix(backend): fix mypy type annotations - add type ignore comments for untyped decorators
  apps/backend/src/main.py
Due: ruff check, black --check --quiet

fix: add HEAD support to /api/v1/health endpoints (correct file)
  apps/backend/src/api/v1/endpoints/health.py
Due: ruff check, black --check --quiet
