Repository suryadizhang/mh-project-: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-unknown, eslint --cache --cache-location .eslintcache --fix --max-warnings=0, ruff check --fix --exit-zero, black --quiet

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": [
    "prettier --write --ignore-unknown",
    "eslint --cache --cache-location .eslintcache --fix --max-warnings=0"
  ],
  "*.{json,md,yml,yaml}": ["prettier --write --ignore-unknown"],
  "*.py": ["ruff check --fix --exit-zero", "black --quiet"],
  "*.{css,scss}": ["prettier --write --ignore-unknown"]
}

fix(security): Fix rate limiting pre-check not tracking attempts
  apps/backend/src/middleware/rate_limit.py
Due: ruff check --fix --exit-zero, black --quiet

fix(security): Remove conflicting rate_limiting_middleware to fix 500 errors
  apps/backend/src/main.py
Due: ruff check --fix --exit-zero, black --quiet

fix(rate-limit): exclude OAuth endpoints from login rate limiting
  apps/backend/src/middleware/rate_limit.py
Due: ruff check --fix --exit-zero, black --quiet

fix(admin): Fix station login response parsing - check response.success and handle double-wrapped response
  apps/admin/src/app/login/page.tsx
Due: prettier --write --ignore-unknown, eslint --cache --cache-location .eslintcache --fix --max-warnings=0

fix(admin): OAuth login now shows station selection like manual login
  apps/admin/src/app/auth/callback/page.tsx
  apps/admin/src/app/login/page.tsx
Due: prettier --write --ignore-unknown, eslint --cache --cache-location .eslintcache --fix --max-warnings=0

fix(admin): correct station-login endpoint path from /api/auth to /api/station
  apps/admin/src/app/auth/callback/page.tsx
  apps/admin/src/app/login/page.tsx
Due: prettier --write --ignore-unknown, eslint --cache --cache-location .eslintcache --fix --max-warnings=0

fix(auth): add dual authentication support (password + OAuth) to station-login
  apps/admin/src/app/login/page.tsx
  apps/backend/src/routers/v1/station_auth.py
Due: prettier --write --ignore-unknown, eslint --cache --cache-location .eslintcache --fix --max-warnings=0, ruff check --fix --exit-zero, black --quiet

fix(auth): read email from JWT payload instead of sub (user ID)
  apps/admin/.gitignore
  apps/admin/src/components/auth/GoogleSignInButton.tsx
  apps/backend/src/routers/v1/station_auth.py
  test_initial_login.sh
  test_station_login.sh
Due: prettier --write --ignore-unknown, eslint --cache --cache-location .eslintcache --fix --max-warnings=0, ruff check --fix --exit-zero, black --quiet

fix(admin): display station_code instead of UUID in dashboard
  apps/admin/src/app/page.tsx
  apps/admin/src/services/api.ts
  apps/backend/src/routers/v1/station_auth.py
Due: prettier --write --ignore-unknown, eslint --cache --cache-location .eslintcache --fix --max-warnings=0, ruff check --fix --exit-zero, black --quiet

feat(batch-1): implement comprehensive security (Option B)
  apps/backend/src/core/config.py
  apps/backend/src/core/security/__init__.py
  apps/backend/src/core/security/password.py
  apps/backend/src/core/security/tokens.py
  apps/backend/src/routers/v1/auth.py
  apps/backend/src/routers/v1/auth_audit.py
  apps/backend/src/services/password_reset_service.py
  apps/backend/src/services/token_blacklist_service.py
  apps/backend/src/utils/auth/dependencies.py
  database/migrations/012_token_blacklist_and_reset.sql
Due: ruff check --fix --exit-zero, black --quiet

fix(auth): change password_reset_tokens schema from security to identity
  apps/backend/src/services/password_reset_service.py
Due: ruff check --fix --exit-zero, black --quiet

fix(auth): use request body for password reset email parameter
  apps/backend/src/routers/v1/auth.py
Due: ruff check --fix --exit-zero, black --quiet
