Repository suryadizhang/mh-project-: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --check --ignore-unknown, eslint --cache --cache-location .eslintcache, ruff check, black --check --quiet

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["prettier --check --ignore-unknown", "eslint --cache --cache-location .eslintcache"],
  "*.{json,md,yml,yaml}": ["prettier --check --ignore-unknown"],
  "*.py": ["ruff check", "black --check --quiet"],
  "*.{css,scss}": ["prettier --check --ignore-unknown"]
}

fix(docker): fix Python version mismatch - use 3.12 to match SHA digest
  Dockerfile
Due: none

fix: add env_file directive and extra_hosts to docker-compose.prod.yml
  docker-compose.prod.yml
Due: prettier --check --ignore-unknown

fix: remove substitutions from environment that override env_file
  docker-compose.prod.yml
Due: prettier --check --ignore-unknown

fix: add itsdangerous dependency for starlette SessionMiddleware
  apps/backend/requirements.txt
Due: none

fix: add pyotp dependency for 2FA authentication
  apps/backend/requirements.txt
Due: none

feat(ci): Docker deployment CI/CD - add production workflow and update docs
  .github/workflows/deploy-backend-production.yml
  Dockerfile
  Dockerfile.vps
  VPS_DEPLOYMENT_GUIDE.md
  apps/backend/docker-compose.staging.yml
  apps/backend/requirements.txt
  scripts/docker-compose-prod-fixed.yml
  scripts/fix_compose.py
Due: prettier --check --ignore-unknown, ruff check, black --check --quiet

docs: add GitHub Secrets configuration guide for CI/CD
  docs/04-DEPLOYMENT/GITHUB_SECRETS_SETUP.md
Due: prettier --check --ignore-unknown

fix(ci): pass Cloudflare Access credentials to ProxyCommand
  .github/workflows/deploy-backend-production.yml
  .github/workflows/deploy-backend-staging.yml
Due: prettier --check --ignore-unknown

fix(ci): switch to direct SSH for deployments - Remove Cloudflare tunnel SSH (service tokens incompatible) - Use ED25519 SSH key for authentication - Simplified and reliable deployment pipeline
  .github/workflows/deploy-backend-production.yml
  .github/workflows/deploy-backend-staging.yml
Due: prettier --check --ignore-unknown

fix(ci): correct docker-compose file references in CI/CD workflows
  .github/workflows/deploy-backend-production.yml
  .github/workflows/deploy-backend-staging.yml
  docker-compose.prod.yml
  docker-compose.staging.yml
  docker-compose.yml
Due: prettier --check --ignore-unknown

fix(ci-cd): comprehensive CI/CD and Docker audit fixes
  .github/workflows/ci-cd.yml
  configs/docker-compose.vps.yml
  docker-compose.prod.yml
Due: prettier --check --ignore-unknown

fix(security): upgrade jspdf to 4.1.0 to fix 4 high severity vulnerabilities
  .github/workflows/deploy-backend-production.yml
  .github/workflows/deploy-backend-staging.yml
  configs/docker-compose.vps.yml
  docker-compose.yml
  package-lock.json
  packages/api-client/package.json
Due: prettier --check --ignore-unknown

security: optimize AI prompts, remove hardcoded credentials, add detect-secrets
  .env.example
  .github/instructions/00-QUICK_REFERENCE.instructions.md
  .github/instructions/01-CORE_PRINCIPLES.instructions.md
  .github/instructions/02-ARCHITECTURE.instructions.md
  .github/instructions/05-AUDIT_STANDARDS.instructions.md
  .github/instructions/06-DOCUMENTATION.instructions.md
  .github/instructions/09-ROLLBACK_SAFETY.instructions.md
  .github/instructions/10-COPILOT_PERFORMANCE.instructions.md
  .github/instructions/11-REACT_PERFORMANCE.instructions.md
  .github/instructions/12-CSS_ARCHITECTURE.instructions.md
  .github/instructions/13-PYTHON_PERFORMANCE.instructions.md
  .github/instructions/14-MEDIA_OPTIMIZATION.instructions.md
  .github/instructions/19-DATABASE_SCHEMA_MANAGEMENT.instructions.md
  .github/instructions/20-SINGLE_SOURCE_OF_TRUTH.instructions.md
  .github/instructions/21-BUSINESS_MODEL.instructions.md
  .github/instructions/22-QUALITY_CONTROL.instructions.md
  .github/instructions/23-BATCH_CONTEXT_LOADER.instructions.md
  .github/instructions/26-SSOT_PATTERNS.instructions.md
  .pre-commit-config.yaml
  .secrets.baseline
  e2e/helpers/test-data.ts
  secrets_to_replace.txt
Due: prettier --check --ignore-unknown, eslint --cache --cache-location .eslintcache

infra: add Fail2ban docs, fix deployment divergent branches, add emergency unban workflow
  .github/instructions/00-QUICK_REFERENCE.instructions.md
  .github/instructions/16-INFRASTRUCTURE_DEPLOYMENT.instructions.md
  .github/workflows/deploy-backend-production.yml
  .github/workflows/deploy-backend-staging.yml
  .github/workflows/unban-ip.yml
Due: prettier --check --ignore-unknown

feat(backend): Environment-aware rate limiting for E2E testing
  apps/backend/src/core/config.py
  apps/backend/src/core/rate_limiting.py
  apps/backend/src/main.py
Due: ruff check, black --check --quiet

fix(backend): Apply environment-aware rate limiting to RateLimitMiddleware
  apps/backend/src/middleware/rate_limit.py
Due: ruff check, black --check --quiet

feat(batch-1): Add travel fee and chef assignment endpoints, fix E2E test paths
  apps/backend/.ruff.toml
  apps/backend/src/core/config.py
  apps/backend/src/middleware/rate_limit.py
  apps/backend/src/routers/v1/scheduling.py
  apps/backend/src/schemas/scheduling.py
  e2e/admin/integration/scheduling-system.spec.ts
  e2e/admin/integration/super-admin.spec.ts
  e2e/api/admin.spec.ts
  e2e/api/agreements.spec.ts
  e2e/api/bookings.spec.ts
  e2e/api/scheduling.spec.ts
  e2e/customer/integration/quote-to-booking-flow.spec.ts
  e2e/helpers/mock-data.ts
  e2e/helpers/payment-helpers.ts
  secrets_to_replace.txt
Due: prettier --check --ignore-unknown, eslint --cache --cache-location .eslintcache, ruff check, black --check --quiet

fix(batch-1): Slot config attribute mapping and webhook test error codes
  apps/backend/src/routers/v1/scheduling.py
  e2e/api/stripe-webhooks.spec.ts
Due: prettier --check --ignore-unknown, eslint --cache --cache-location .eslintcache, ruff check, black --check --quiet

fix(batch-1): Add markdown dependency, fix test expectations
  apps/backend/requirements.txt
  e2e/api/admin.spec.ts
  e2e/api/agreements.spec.ts
  e2e/api/stripe-webhooks.spec.ts
Due: prettier --check --ignore-unknown, eslint --cache --cache-location .eslintcache

fix(batch-1): Add bleach dependency for agreements and booking admin endpoints
  apps/backend/requirements.txt
Due: none

fix(batch-1): Remove broken SQLAlchemy select in agreement_service
  apps/backend/src/services/agreements/agreement_service.py
  scripts/fix_staging_password.sql
Due: ruff check, black --check --quiet

fix(batch-1): Make admin tests defensive for missing endpoints + add staging permissions
  e2e/api/admin.spec.ts
  scripts/grant_staging_permissions.sql
Due: prettier --check --ignore-unknown, eslint --cache --cache-location .eslintcache

feat(batch-1): Add admin users CRUD and public stations endpoints for E2E tests
  apps/backend/src/main.py
  apps/backend/src/routers/v1/admin/users.py
  apps/backend/src/routers/v1/stations.py
Due: ruff check, black --check --quiet

fix(backend): Replace asyncpg-incompatible ::type casts with CAST() function
  apps/backend/src/middleware/audit_middleware.py
  apps/backend/src/services/agreements/slot_hold_service.py
  apps/backend/src/services/approval_service.py
  apps/backend/src/services/audit_service.py
  apps/backend/src/services/customer_preferences_service.py
Due: ruff check, black --check --quiet

fix(backend): Replace station middleware with standard JWT auth in admin users endpoints
  apps/backend/src/routers/v1/admin/users.py
Due: ruff check, black --check --quiet

fix(backend): Fix delete endpoint auth and temp comment first audit call
  apps/backend/src/routers/v1/admin/users.py
Due: ruff check, black --check --quiet

fix(backend): Comment out all audit_log_action calls to resolve undefined function errors
  apps/backend/src/routers/v1/admin/users.py
Due: ruff check, black --check --quiet
