Repository suryadizhang/mh-project-: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-unknown, eslint --cache --cache-location .eslintcache --fix --max-warnings=0, ruff check --fix --exit-zero, black --quiet

fix(admin): Fix email/password login field name mismatch
  apps/admin/src/services/api.ts
Due: prettier --write --ignore-unknown, eslint --cache --cache-location .eslintcache --fix --max-warnings=0

fix(backend): Allow SUPER_ADMIN to login without explicit station assignment
  apps/backend/src/routers/v1/station_auth.py
Due: ruff check --fix --exit-zero, black --quiet

fix(backend): Add SUPER_ADMIN bypass in get_user_station_context
  apps/backend/src/core/auth/station_auth.py
Due: ruff check --fix --exit-zero, black --quiet

fix(auth): add get_user_by_email method to AuthenticationService
  apps/backend/src/core/auth/models.py
Due: ruff check --fix --exit-zero, black --quiet

fix(admin): station_id intUUID type mismatch
  apps/admin/src/app/login/page.tsx
  apps/admin/src/services/api.ts
  apps/backend/src/routers/v1/station_auth.py
Due: prettier --write --ignore-unknown, eslint --cache --cache-location .eslintcache --fix --max-warnings=0, ruff check --fix --exit-zero, black --quiet

fix(auth): use correct property accessible_station_ids + SUPER_ADMIN bypass
  apps/backend/src/routers/v1/station_auth.py
Due: ruff check --fix --exit-zero, black --quiet

fix(auth): Add comprehensive logging and fix SUPER_ADMIN edge cases
  apps/backend/src/check_stations.sql
  apps/backend/src/core/auth/station_auth.py
  apps/backend/src/routers/v1/station_auth.py
Due: ruff check --fix --exit-zero, black --quiet

fix(auth): Add missing get_station_permissions function
  apps/backend/src/core/auth/station_auth.py
Due: ruff check --fix --exit-zero, black --quiet

feat(auth): add create_station_session method to StationAuthenticationService
  apps/backend/src/core/auth/station_auth.py
Due: ruff check --fix --exit-zero, black --quiet

fix(auth): use station_context.highest_role instead of non-existent user.role
  apps/backend/src/core/auth/station_auth.py
Due: ruff check --fix --exit-zero, black --quiet

fix(auth): use station_permissions instead of calling broken get_user_permissions(user)
  apps/backend/src/core/auth/station_auth.py
Due: ruff check --fix --exit-zero, black --quiet

feat(db): add migration for identity.user_sessions table
  database/migrations/007_create_user_sessions.sql
Due: none

feat(security): Add login brute-force protection with rate limiting
  apps/backend/src/main.py
  apps/backend/src/middleware/rate_limit.py
  scripts/check_password.sql
  scripts/get_hash.sql
  scripts/list_users.sql
  scripts/reset_password.py
  scripts/test_bcrypt.py
  scripts/test_password.py
  scripts/update_password.sql
Due: ruff check --fix --exit-zero, black --quiet

fix(security): Fix rate limiting pre-check not tracking attempts
  apps/backend/src/middleware/rate_limit.py
Due: ruff check --fix --exit-zero, black --quiet

Path conditions:
  prettier --write --ignore-unknown: ((any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,md,yml,yaml})) or (any of: *.{css,scss})
  eslint --cache --cache-location .eslintcache --fix --max-warnings=0: any of: *.{js,jsx,ts,tsx}
  ruff check --fix --exit-zero: any of: *.py
  black --quiet: any of: *.py
