Repository suryadizhang/mh-project-: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --check --ignore-unknown, eslint --cache --cache-location .eslintcache, ruff check, black --check --quiet

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["prettier --check --ignore-unknown", "eslint --cache --cache-location .eslintcache"],
  "*.{json,md,yml,yaml}": ["prettier --check --ignore-unknown"],
  "*.py": ["ruff check", "black --check --quiet"],
  "*.{css,scss}": ["prettier --check --ignore-unknown"]
}

fix(customer): allow UptimeRobot monitoring - critical production fix
  apps/customer/src/middleware.ts
Due: prettier --check --ignore-unknown, eslint --cache --cache-location .eslintcache

fix(batch-1): fix slot hold enum error and add 15-min task interval
  apps/backend/src/services/agreements/slot_hold_service.py
  apps/backend/src/workers/celery_config.py
  apps/backend/src/workers/slot_hold_tasks.py
  apps/customer/src/components/quote/QuoteCalculator.tsx
  database/migrations/029_add_default_chef_availability.sql
Due: prettier --check --ignore-unknown, eslint --cache --cache-location .eslintcache, ruff check, black --check --quiet

fix(batch-1): use UUID for signing_token instead of base64 string
  apps/backend/src/services/agreements/slot_hold_service.py
Due: ruff check, black --check --quiet

fix(batch-1): convert signing_token UUID to string in all responses
  apps/backend/src/services/agreements/slot_hold_service.py
Due: ruff check, black --check --quiet

fix(batch-1): fix slot_datetime key error - use event_date + slot_time
  apps/backend/src/routers/v1/agreements.py
Due: ruff check, black --check --quiet

feat(devops): add Docker cache busting for reliable deployments
  Dockerfile
  docker-compose.prod.yml
  docker-compose.staging.yml
Due: prettier --check --ignore-unknown

feat(batch-1): add industry-standard error handling for slot holds
  apps/backend/src/routers/v1/agreements.py
  apps/backend/src/services/agreements/slot_hold_service.py
Due: ruff check, black --check --quiet

feat(batch-1): add admin agreement management system
  apps/admin/src/app/agreements/page.tsx
  apps/admin/src/config/navigation.config.ts
  apps/admin/src/hooks/useApi.ts
  apps/admin/src/services/api.ts
  apps/backend/src/main.py
  apps/backend/src/routers/v1/admin/agreements.py
  apps/backend/src/routers/v1/agreements.py
Due: prettier --check --ignore-unknown, eslint --cache --cache-location .eslintcache, ruff check, black --check --quiet

fix(batch-1): fix stations table schema reference (identity.stations not core.stations)
  apps/backend/src/routers/v1/admin/agreements.py
Due: ruff check, black --check --quiet

feat(batch-1): add signing_link_sent_at to holds response
  apps/admin/src/services/api.ts
  apps/backend/src/routers/v1/admin/agreements.py
Due: prettier --check --ignore-unknown, eslint --cache --cache-location .eslintcache, ruff check, black --check --quiet

test(batch-1): add E2E tests for agreements signing flow
  e2e/admin/agreements.spec.ts
  e2e/customer/signing.spec.ts
Due: prettier --check --ignore-unknown, eslint --cache --cache-location .eslintcache

fix(admin): fix TypeScript type errors in agreement service
  apps/admin/src/services/api.ts
Due: prettier --check --ignore-unknown, eslint --cache --cache-location .eslintcache

fix(batch-1): fix import error db.base -> db.base_class
  apps/backend/src/db/models/payment_notification.py
Due: ruff check, black --check --quiet

fix(customer): properly check backend success field for signing errors
  apps/customer/src/app/sign/[token]/page.tsx
Due: prettier --check --ignore-unknown, eslint --cache --cache-location .eslintcache

fix(customer): update CSP to allow staging API (*.mysticdatanode.net)
  apps/customer/next.config.ts
Due: prettier --check --ignore-unknown, eslint --cache --cache-location .eslintcache

fix(admin): update CSP to allow staging API
  apps/admin/next.config.js
Due: prettier --check --ignore-unknown, eslint --cache --cache-location .eslintcache

fix(admin): skip station selection for SUPER_ADMIN/ADMIN/CUSTOMER_SUPPORT and fix agreements 500 error
  apps/admin/src/app/login/page.tsx
  apps/admin/src/services/api.ts
  apps/backend/src/routers/v1/admin/agreements.py
  e2e/admin/agreements.spec.ts
  e2e/customer/signing.spec.ts
Due: prettier --check --ignore-unknown, eslint --cache --cache-location .eslintcache, ruff check, black --check --quiet

fix(customer): fix SignaturePad state timing issue preventing Sign button from working
  apps/customer/src/components/agreements/SignaturePad.tsx
Due: prettier --check --ignore-unknown, eslint --cache --cache-location .eslintcache

feat(agreements): add comprehensive policy sections to agreement v2025.2.0
  apps/customer/src/data/faqsData.ts
  database/migrations/017_agreement_template_v2025.2.0.sql
Due: prettier --check --ignore-unknown, eslint --cache --cache-location .eslintcache

feat(ssot): add menu upgrade/addon prices to SSoT system
  apps/backend/src/routers/v1/agreements.py
  apps/backend/src/routers/v1/public_config.py
  apps/backend/src/routers/v1/public_quote.py
  apps/backend/src/services/agreements/agreement_service.py
  apps/backend/src/services/business_config_service.py
  apps/customer/next.config.ts
  apps/customer/src/app/menu/page.tsx
  apps/customer/src/app/sign/[token]/page.tsx
  apps/customer/src/components/agreements/SignaturePad.tsx
  apps/customer/src/data/faqsData.ts
  apps/customer/src/hooks/usePricing.ts
  apps/customer/src/lib/faqDataProvider.ts
  apps/customer/src/lib/pricingTemplates.ts
  database/migrations/017_agreement_template_v2025.2.0.sql
  database/migrations/030_upgrade_addon_prices_ssot.sql
Due: prettier --check --ignore-unknown, eslint --cache --cache-location .eslintcache, ruff check, black --check --quiet
