Repository suryadizhang/mh-project-: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-unknown, eslint --cache --cache-location .eslintcache --fix --max-warnings=0, ruff check --fix --exit-zero, black --quiet

refactor(batch-4): Replace WhatsApp notifications with IONOS SMTP email
  .github/instructions/00-BOOTSTRAP.instructions.md
  .github/instructions/07-TESTING_QA.instructions.md
  .github/instructions/16-INFRASTRUCTURE_DEPLOYMENT.instructions.md
  .github/instructions/19-DATABASE_SCHEMA_MANAGEMENT.instructions.md
  .gitignore
  apps/backend/.env.example
  apps/backend/requirements.txt
  apps/backend/scripts/quick_tests/test_admin_notifications.py
  apps/backend/scripts/seed_ai_training_data.py
  apps/backend/scripts/seed_ai_training_real.py
  apps/backend/src/api/ai/endpoints/services/multi_channel_ai_handler.py
  apps/backend/src/api/ai/endpoints/services/pricing_service.py
  apps/backend/src/api/ai/endpoints/services/protein_calculator_service.py
  apps/backend/src/api/ai/orchestrator/tools/protein_tool.py
  apps/backend/src/api/v1/inbox/router.py
  apps/backend/src/api/v1/webhooks/twilio.py
  apps/backend/src/config/ai_booking_config.py
  apps/backend/src/db/migrations/alembic/versions/6fd48d0caced_create_ai_schema.py
  apps/backend/src/db/models/ai/conversations.py
  apps/backend/src/routers/v1/faq_settings.py
  apps/backend/src/routers/v1/health_checks.py
  apps/backend/src/routers/v1/public_quote.py
  apps/backend/src/routers/v1/webhooks/meta_webhook_refactored.py
  apps/backend/src/schemas/terms_acknowledgment.py
  apps/backend/src/services/conversation_unification_service.py
  apps/backend/src/services/security_monitoring_service.py
  apps/backend/src/services/staff_notification_service.py
  apps/backend/src/services/terms_acknowledgment_service.py
  apps/backend/src/services/unified_notification_service.py
  apps/backend/src/services/webhook_service.py
  apps/backend/src/services/whatsapp_notification_service.py
  apps/backend/tests/integrations/verify_integration.py
  apps/backend/tests/services/test_notification_integration.py
  apps/backend/tests/services/test_notifications.py
  apps/backend/tests/services/test_twilio_whatsapp.py
  apps/customer/src/components/quote/QuoteCalculator.tsx
  apps/customer/src/lib/pricingApi.ts
  docs/06-QUICK_REFERENCE/TWILIO_QUICK_START.md
Due: prettier --write --ignore-unknown, eslint --cache --cache-location .eslintcache --fix --max-warnings=0, ruff check --fix --exit-zero, black --quiet

fix(customer): Make SMS consent checkbox optional for RingCentral TCR compliance
  apps/customer/src/components/booking/SMSConsent.tsx
  apps/customer/src/components/quote/QuoteCalculator.tsx
Due: prettier --write --ignore-unknown, eslint --cache --cache-location .eslintcache --fix --max-warnings=0

fix(backend): Add www.myhibachichef.com to CORS origins
  apps/backend/src/core/config.py
Due: ruff check --fix --exit-zero, black --quiet

fix(backend): move CORS middleware to run first for OPTIONS preflight
  apps/backend/src/main.py
Due: ruff check --fix --exit-zero, black --quiet

fix(customer): add API URL to CSP connect-src directive
  apps/customer/next.config.ts
Due: prettier --write --ignore-unknown, eslint --cache --cache-location .eslintcache --fix --max-warnings=0

fix(csp): add missing domains to Content-Security-Policy headers
  apps/admin/next.config.js
  apps/customer/next.config.ts
Due: prettier --write --ignore-unknown, eslint --cache --cache-location .eslintcache --fix --max-warnings=0

fix(customer): remove COEP/CORP headers that block cross-origin API calls
  apps/customer/next.config.ts
Due: prettier --write --ignore-unknown, eslint --cache --cache-location .eslintcache --fix --max-warnings=0

fix(customer): ensure COEP/CORP headers are removed - force redeploy
  apps/customer/next.config.ts
Due: prettier --write --ignore-unknown, eslint --cache --cache-location .eslintcache --fix --max-warnings=0

fix(customer): remove COEP/CORP from middleware - this was the real source
  apps/customer/src/middleware.ts
Due: prettier --write --ignore-unknown, eslint --cache --cache-location .eslintcache --fix --max-warnings=0

debug(customer): add error.tsx files to capture and log errors to console
  apps/customer/src/app/error.tsx
  apps/customer/src/app/quote/error.tsx
Due: prettier --write --ignore-unknown, eslint --cache --cache-location .eslintcache --fix --max-warnings=0

fix(customer): add null checks to prevent forEach on undefined in pricingApi
  apps/customer/src/lib/pricingApi.ts
Due: prettier --write --ignore-unknown, eslint --cache --cache-location .eslintcache --fix --max-warnings=0

fix(customer): add z-index fixes for date picker and Google autocomplete dropdowns
  apps/customer/src/styles/quote-calculator.css
Due: prettier --write --ignore-unknown

fix(customer): use nullish coalescing for travel fee to handle 0 distance correctly
  apps/customer/src/components/quote/QuoteCalculator.tsx
Due: prettier --write --ignore-unknown, eslint --cache --cache-location .eslintcache --fix --max-warnings=0

Path conditions:
  prettier --write --ignore-unknown: ((any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,md,yml,yaml})) or (any of: *.{css,scss})
  eslint --cache --cache-location .eslintcache --fix --max-warnings=0: any of: *.{js,jsx,ts,tsx}
  ruff check --fix --exit-zero: any of: *.py
  black --quiet: any of: *.py
