Repository suryadizhang/mh-project-: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-unknown, eslint --cache --cache-location .eslintcache --fix --max-warnings=0, ruff check --fix --exit-zero, black --quiet

docs: Add comprehensive summary of nuclear refactor (Phases 1-4)
  NUCLEAR_REFACTOR_COMPLETE_SUMMARY.md
Due: prettier --write --ignore-unknown

fix: wrap functions in useCallback to resolve ESLint exhaustive-deps warnings
  apps/admin/src/app/AdminLayoutNew.tsx
  apps/admin/src/app/newsletter/analytics/page.tsx
  apps/admin/src/components/AdminChatWidget.tsx
  apps/admin/src/components/reviews/PendingReviewsList.tsx
  apps/admin/src/config/navigation.config.ts
  apps/admin/src/hooks/__tests__/useEscalationWebSocket.test.ts
  apps/backend/analyze_database_schema.py
  apps/backend/analyze_migrations.py
  apps/backend/audit_enums.py
  apps/backend/check_enum.py
  apps/backend/src/workers/campaign_metrics_tasks.py
  apps/backend/tests/test_sms_tracking_comprehensive.py
  fix_quotes.py
  test_compliance_implementation.py
Due: prettier --write --ignore-unknown, eslint --cache --cache-location .eslintcache --fix --max-warnings=0, ruff check --fix --exit-zero, black --quiet

docs: add comprehensive environment config and admin training guides
  ADMIN_DASHBOARD_TRAINING.md
  ENVIRONMENT_CONFIGURATION.md
Due: prettier --write --ignore-unknown

docs: add comprehensive staging deployment guide
  STAGING_DEPLOYMENT_GUIDE.md
Due: prettier --write --ignore-unknown

docs: add comprehensive operational priority list and deployment quick reference
  DEPLOYMENT_QUICK_REFERENCE.md
  OPERATIONAL_PRIORITY_LIST.md
Due: prettier --write --ignore-unknown

docs: add focused dev branch immediate actions plan
  DEV_BRANCH_IMMEDIATE_ACTIONS.md
Due: prettier --write --ignore-unknown

docs: add quick start guide using existing environment setup
  QUICK_START_EXISTING_ENV.md
Due: prettier --write --ignore-unknown

feat(tests): Add 165 comprehensive endpoint tests + test infrastructure improvements
  SESSION_COMPLETE_NOV_20_2025.md
  apps/backend/PHASE1_COMPLETION_SUMMARY.md
  apps/backend/TEST_AUDIT_RESULTS.md
  apps/backend/TEST_FIX_EXECUTION_LOG.md
  apps/backend/TEST_SUITE_OVERHAUL_PLAN.md
  apps/backend/src/services/ringcentral_voice_service.py
  apps/backend/tests/conftest.py
  apps/backend/tests/endpoints/test_admin_endpoints_comprehensive.py
  apps/backend/tests/endpoints/test_ai_endpoints_comprehensive.py
  apps/backend/tests/endpoints/test_booking_endpoints_comprehensive.py
  apps/backend/tests/endpoints/test_communication_endpoints_comprehensive.py
  apps/backend/tests/endpoints/test_customer_endpoints_comprehensive.py
  apps/backend/tests/endpoints/test_payment_endpoints_comprehensive.py
  apps/backend/tests/services/test_payment_email_monitor.py
  pytest.ini
Due: prettier --write --ignore-unknown, ruff check --fix --exit-zero, black --quiet

fix: update pre-commit configuration and fix GitGuardian alert
  .lintstagedrc.json
  ONBOARDING.md
  PRE_COMMIT_HOOK_BEST_PRACTICES.md
  apps/customer/lint-warnings.txt
  apps/customer/package.json
Due: prettier --write --ignore-unknown

chore: relax pre-commit hook to non-blocking warnings mode
  .github/workflows/deployment-testing.yml
  .github/workflows/sync-gsm-to-vercel.yml
  .husky/pre-commit
  AI_AGENT_ARCHITECTURE_OPTIMIZED.md
  BACKEND_ADMIN_FIX_PLAN.md
  BUG_COUNT_SUMMARY.md
  CURRENT_STATUS_AND_NEXT_ACTIONS.md
  DEPLOYMENT_READY_SUMMARY.md
  DEV_BRANCH_IMMEDIATE_ACTIONS.md
  DYNAMIC_VARIABLE_MANAGEMENT_ANALYSIS.md
  EMERGENCY_CODE_CORRUPTION_FOUND.md
  GSM_TESTING_GUIDE.md
  MASTER_COMPREHENSIVE_PLAN.md
  REALISTIC_BUG_AUDIT_RESULTS.md
  SECURITY_AUDIT_CRITICAL.md
  SESSION_COMPLETE_NOV_20_2025.md
  apps/backend/src/db/migrations/alembic/versions/bd8856cf6aa0_create_knowledge_base_tables.py
  apps/backend/src/db/migrations/alembic/versions/ea9069521d16_update_indexes_and_constraints.py
Due: prettier --write --ignore-unknown, ruff check --fix --exit-zero, black --quiet

Path conditions:
  prettier --write --ignore-unknown: ((any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,md,yml,yaml})) or (any of: *.{css,scss})
  eslint --cache --cache-location .eslintcache --fix --max-warnings=0: any of: *.{js,jsx,ts,tsx}
  ruff check --fix --exit-zero: any of: *.py
  black --quiet: any of: *.py
