Repository suryadizhang/mh-project-: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-unknown, eslint --cache --cache-location .eslintcache --fix --max-warnings=0, ruff check --fix --exit-zero, black --quiet

feat(legal): Add food safety FAQs, waiver language, and health notices
  apps/backend/src/services/email_service.py
  apps/backend/src/services/unified_notification_service.py
  apps/customer/src/components/booking/BookingAgreementModal.tsx
  apps/customer/src/components/booking/BookingForm.tsx
  apps/customer/src/data/faqsData.ts
  apps/customer/src/lib/email-service.ts
Due: prettier --write --ignore-unknown, eslint --cache --cache-location .eslintcache --fix --max-warnings=0, ruff check --fix --exit-zero, black --quiet

fix(booking): remove duplicate gratuity section from EventDetailsSection
  apps/customer/src/components/booking/modules/EventDetailsSection.tsx
Due: prettier --write --ignore-unknown, eslint --cache --cache-location .eslintcache --fix --max-warnings=0

fix(booking): remove default selections from booking form controls
  apps/customer/src/app/book-us/page.tsx
  apps/customer/src/components/booking/modules/TipCalculator.tsx
  apps/customer/src/components/booking/modules/index.ts
Due: prettier --write --ignore-unknown, eslint --cache --cache-location .eslintcache --fix --max-warnings=0

feat(batch-1): travel service improvements, pricing API, test fixes
  QA_REPORT_2025-01-30.md
  apps/backend/.env.example
  apps/backend/src/db/models/__init__.py
  apps/backend/src/db/models/travel_cache.py
  apps/backend/src/routers/v1/public_quote.py
  apps/backend/src/routers/v1/scheduling.py
  apps/backend/src/schemas/scheduling.py
  apps/backend/src/services/scheduling/chef_optimizer.py
  apps/backend/src/services/scheduling/openroute_service.py
  apps/backend/src/services/scheduling/travel_cache_service.py
  apps/backend/src/services/scheduling/travel_time_service.py
  apps/backend/tests/unit/test_openroute_service.py
  apps/backend/tests/unit/test_travel_cache_service.py
  apps/backend/tests/unit/test_travel_time_service.py
  apps/customer/src/app/api/v1/admin/base-location/route.ts
  apps/customer/src/app/api/v1/config/route.ts
  apps/customer/src/app/api/v1/pricing/calculate/route.ts
  apps/customer/src/app/api/v1/pricing/current/route.ts
  apps/customer/src/app/api/v1/pricing/summary/route.ts
  apps/customer/src/app/api/v1/public/quote/calculate/route.ts
  apps/customer/src/app/api/v1/public/quote/email/route.ts
  apps/customer/src/app/book-us/error.tsx
  apps/customer/src/app/book-us/page.tsx
  apps/customer/src/app/payment/page.tsx
  apps/customer/src/app/sign/[token]/page.tsx
  apps/customer/src/components/booking/modules/EventDetailsSection.tsx
  apps/customer/src/components/booking/modules/VenueAddressSection.tsx
  apps/customer/src/components/payment/__tests__/PaymentForm.test.tsx
  apps/customer/src/components/quote/QuoteCalculator.tsx
  apps/customer/src/components/ui/Modal.tsx
  apps/customer/src/hooks/usePricing.ts
  apps/customer/src/lib/baseLocationUtils.ts
  apps/customer/src/lib/pricingApi.ts
  database/migrations/011_travel_cache_table.sql
  e2e/customer/example.spec.ts
  e2e/customer/integration/complete-booking.spec.ts
  e2e/customer/payment/stripe-payment.spec.ts
  e2e/customer/smoke/homepage.spec.ts
  e2e/helpers/booking-helpers.ts
  test_config_response.txt
Due: prettier --write --ignore-unknown, eslint --cache --cache-location .eslintcache --fix --max-warnings=0, ruff check --fix --exit-zero, black --quiet

feat(auth): add Google OAuth credentials loading from GSM
  apps/backend/src/core/config.py
Due: ruff check --fix --exit-zero, black --quiet

fix(auth): export GSM secrets to os.environ for GoogleOAuthService
  apps/backend/src/core/config.py
Due: ruff check --fix --exit-zero, black --quiet

fix(gsm): use separate GSM_ENVIRONMENT var for secret prefix
  apps/backend/src/config/gsm_config.py
Due: ruff check --fix --exit-zero, black --quiet

fix(backend): lazy-load Google OAuth credentials to support GSM timing
  apps/backend/src/services/google_oauth.py
Due: ruff check --fix --exit-zero, black --quiet

fix(config): add GOOGLE_REDIRECT_URI to GSM secrets list
  apps/backend/src/core/config.py
Due: ruff check --fix --exit-zero, black --quiet

fix(admin): update CSP for Google OAuth/Cloudflare and fix login button visibility
  apps/admin/next.config.js
  apps/admin/src/app/login/page.tsx
Due: prettier --write --ignore-unknown, eslint --cache --cache-location .eslintcache --fix --max-warnings=0

fix(admin): remove @radix-ui/react-slot from optimizePackageImports
  apps/admin/next.config.js
Due: prettier --write --ignore-unknown, eslint --cache --cache-location .eslintcache --fix --max-warnings=0

feat(auth): Implement origin-based OAuth redirect via state parameter
  apps/admin/src/components/auth/GoogleSignInButton.tsx
  apps/backend/src/api/v1/endpoints/google_oauth.py
  apps/backend/src/services/google_oauth.py
Due: prettier --write --ignore-unknown, eslint --cache --cache-location .eslintcache --fix --max-warnings=0, ruff check --fix --exit-zero, black --quiet

fix(oauth): Use GoogleOAuthAccount table instead of non-existent User.google_id
  apps/backend/src/api/v1/endpoints/google_oauth.py
Due: ruff check --fix --exit-zero, black --quiet

fix(backend): resolve SQLAlchemy mapper initialization error for auth models
  apps/backend/src/core/auth/models.py
  apps/backend/src/db/models/identity/users.py
Due: ruff check --fix --exit-zero, black --quiet

Path conditions:
  prettier --write --ignore-unknown: ((any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,md,yml,yaml})) or (any of: *.{css,scss})
  eslint --cache --cache-location .eslintcache --fix --max-warnings=0: any of: *.{js,jsx,ts,tsx}
  ruff check --fix --exit-zero: any of: *.py
  black --quiet: any of: *.py
