Repository suryadizhang/mh-project-: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-unknown, eslint --cache --cache-location .eslintcache --fix --max-warnings=0, ruff check --fix --exit-zero, black --quiet

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": [
    "prettier --write --ignore-unknown",
    "eslint --cache --cache-location .eslintcache --fix --max-warnings=0"
  ],
  "*.{json,md,yml,yaml}": ["prettier --write --ignore-unknown"],
  "*.py": ["ruff check --fix --exit-zero", "black --quiet"],
  "*.{css,scss}": ["prettier --write --ignore-unknown"]
}

perf(customer): use native img tag for LCP element (removes JS dependency)
  apps/customer/src/components/home/HeroImage.tsx
Due: prettier --write --ignore-unknown, eslint --cache --cache-location .eslintcache --fix --max-warnings=0

perf(customer): add WebP hero image (43KB vs 91KB = 52% smaller)
  apps/customer/public/images/hero-poster.webp
  apps/customer/src/app/layout.tsx
  apps/customer/src/components/home/HeroImage.tsx
Due: prettier --write --ignore-unknown, eslint --cache --cache-location .eslintcache --fix --max-warnings=0

perf(customer): comprehensive critical CSS for above-the-fold
  .github/instructions/14-MEDIA_OPTIMIZATION.instructions.md
  apps/customer/src/app/layout.tsx
  apps/customer/src/lib/performance/AsyncCSSLoader.tsx
  apps/customer/src/lib/performance/criticalCSS.ts
Due: prettier --write --ignore-unknown, eslint --cache --cache-location .eslintcache --fix --max-warnings=0

perf(customer): code-split ServicesSection + aggressive CDN caching
  apps/customer/src/app/page.tsx
  apps/customer/src/components/sections/ServicesSection.tsx
  apps/customer/src/lib/performance/lazyComponents.ts
  apps/customer/vercel.json
Due: prettier --write --ignore-unknown, eslint --cache --cache-location .eslintcache --fix --max-warnings=0

perf(customer): optimize images - save 695KB total
  apps/customer/public/images/background.webp
  apps/customer/public/images/myhibachi-logo-small.webp
  apps/customer/src/components/HeroVideo.tsx
  apps/customer/src/components/blog/BlogStructuredData.tsx
  apps/customer/src/components/booking/styles/form-inputs-global.css
  apps/customer/src/components/home/HeroSection.tsx
  apps/customer/src/lib/performance/AsyncCSSLoader.tsx
  apps/customer/src/lib/performance/criticalCSS.ts
  apps/customer/src/styles/base.css
  apps/customer/src/styles/contact.css
  apps/customer/src/styles/faqs.css
  apps/customer/src/styles/faqs/faqs-base.css
  apps/customer/src/styles/home.css
  apps/customer/src/styles/home/home-cta.css
  apps/customer/src/styles/legacy.css
  apps/customer/src/styles/menu.css
  apps/customer/src/styles/menu/base.css
  apps/customer/src/styles/menu/menu-base.css
  apps/customer/src/styles/menu/menu-pricing.css
  apps/customer/src/styles/pages/menu.module.css
  apps/customer/src/styles/pages/menu.page.css
  apps/customer/src/styles/pages/quote.page.css
Due: prettier --write --ignore-unknown, eslint --cache --cache-location .eslintcache --fix --max-warnings=0

docs: add Lighthouse & Core Web Vitals instruction file
  .github/instructions/00-BOOTSTRAP.instructions.md
  .github/instructions/15-LIGHTHOUSE_WEB_VITALS.instructions.md
Due: prettier --write --ignore-unknown

docs(batch-1): update infrastructure docs with staging, Cloudflare, and IONOS backup config
  .github/instructions/10-COPILOT_PERFORMANCE.instructions.md
  .github/instructions/16-INFRASTRUCTURE_DEPLOYMENT.instructions.md
Due: prettier --write --ignore-unknown

feat(batch-1): standardize Extra Protein terminology + add Smart Scheduling spec
  .github/instructions/00-BOOTSTRAP.instructions.md
  apps/admin/src/data/faqsData.ts
  apps/backend/ENHANCED_NLP_INTEGRATION_GUIDE.md
  apps/backend/create_addon_items_table.sql
  apps/backend/scripts/audit_ai_data_vs_website.py
  apps/backend/scripts/check_addon_terminology.py
  apps/backend/scripts/check_menu_sync.py
  apps/backend/scripts/check_third_protein.py
  apps/backend/scripts/seed_ai_training_data.py
  apps/backend/scripts/seed_ai_training_real.py
  apps/backend/scripts/test_enhanced_nlp.py
  apps/backend/scripts/test_week3_phase3_upsells.py
  apps/backend/scripts/test_week3_phase4_e2e.py
  apps/backend/seed_data/menu_items_with_subcategories.py
  apps/backend/src/api/ai/agents/menu_agent.py
  apps/backend/src/api/ai/agents/tests/test_menu_agent.py
  apps/backend/src/api/ai/endpoints/services/multi_channel_ai_handler.py
  apps/backend/src/api/ai/endpoints/services/pricing_service.py
  apps/backend/src/api/ai/endpoints/services/protein_calculator_service.py
  apps/backend/src/api/ai/orchestrator/ai_orchestrator.py
  apps/backend/src/api/ai/orchestrator/tools/pricing_tool.py
  apps/backend/src/api/ai/orchestrator/tools/protein_tool.py
  apps/backend/src/api/ai/services/knowledge_service.py
  apps/backend/src/api/v1/endpoints/pricing.py
  apps/backend/src/config/ai_booking_config.py
  apps/backend/src/config/ai_booking_config_v2.py
  apps/backend/src/routers/v1/public_quote.py
  apps/backend/src/services/knowledge_sync_service.py
  apps/customer/clean-menu-items.html
  apps/customer/src/app/menu/page.tsx
  apps/customer/src/components/menu/AdditionalSection.tsx
  apps/customer/src/components/quote/QuoteCalculator.tsx
  apps/customer/src/components/sections/ValuePropositionSection.tsx
  apps/customer/src/data/faqsData.ts
  docs/03-FEATURES/SMART_SCHEDULING_SYSTEM_SPEC.md
  scripts/seed_faq_items.sql
  scripts/seed_faq_items_simple.sql
  scripts/seed_menu_data.sql
Due: prettier --write --ignore-unknown, eslint --cache --cache-location .eslintcache --fix --max-warnings=0, ruff check --fix --exit-zero, black --quiet

feat: Smart Scheduling System with travel time, chef optimization, and booking negotiation
  .github/instructions/17-SMART_SCHEDULING_SYSTEM.instructions.md
  apps/backend/scripts/audit_ai_data_vs_website.py
  apps/backend/scripts/check_addon_terminology.py
  apps/backend/scripts/check_menu_sync.py
  apps/backend/scripts/test_week3_phase3_upsells.py
  apps/backend/src/config/ai_booking_config.py
  apps/backend/src/main.py
  apps/backend/src/models/booking.py
  apps/backend/src/routers/v1/scheduling.py
  apps/backend/src/schemas/scheduling.py
  apps/backend/src/services/scheduling/__init__.py
  apps/backend/src/services/scheduling/chef_optimizer_service.py
  apps/backend/src/services/scheduling/geocoding_service.py
  apps/backend/src/services/scheduling/negotiation_service.py
  apps/backend/src/services/scheduling/slot_manager.py
  apps/backend/src/services/scheduling/suggestion_engine.py
  apps/backend/src/services/scheduling/travel_time_service.py
  apps/customer/src/app/BookUs/BookUsPageClient.tsx
  apps/customer/src/app/menu/page.tsx
  apps/customer/src/components/quote/QuoteCalculator.tsx
  apps/customer/src/components/sections/ValuePropositionSection.tsx
  database/migrations/BATCH_2_SMART_SCHEDULING.sql
  docs/03-FEATURES/SMART_SCHEDULING_SYSTEM_SPEC.md
Due: prettier --write --ignore-unknown, eslint --cache --cache-location .eslintcache --fix --max-warnings=0, ruff check --fix --exit-zero, black --quiet

fix(batch-2): update slot config - 12PM now -30 to +60, add chef setup buffer
  apps/backend/src/services/scheduling/slot_manager.py
Due: ruff check --fix --exit-zero, black --quiet

fix(batch-1): fix scheduling service compatibility with production Booking schema
  apps/backend/src/routers/v1/scheduling.py
  apps/backend/src/services/scheduling/negotiation_service.py
  apps/backend/src/services/scheduling/suggestion_engine.py
Due: ruff check --fix --exit-zero, black --quiet

docs: add NEVER invent data rule to bootstrap instructions
  .github/instructions/00-BOOTSTRAP.instructions.md
Due: prettier --write --ignore-unknown

docs: add business data sources to NEVER invent data rule
  .github/instructions/00-BOOTSTRAP.instructions.md
Due: prettier --write --ignore-unknown
